extends ../layout/admin

block content

  h1 Users
  
  .action-link
    a.btn.btn-success(href='/admin/users/new') Create new user
  
  table.table
    thead
      tr
        th State
        th Username
        th Role
        th Actions
    tbody
      - each user in users
        tr
          td
            - if(!user.active)
              .label.label-danger Removed
          td= user.username
          td= user.role
          td
            a(href='/admin/users/' + user._id + '/edit').btn.btn-info Edit
            &nbsp;
            a(href='/admin/users/' + user._id + '/delete').btn.btn-danger Delete
            