body {color: #444; font-family: 'dosisextralight'; letter-spacing: 0.4px; font-size: 22px; line-height: 34px; background: #fff;}
h1 {margin: 0; padding: 0; font-family: 'dosisextralight'; font-size: 60px; line-height: 60px; color: #444; font-weight: 100;}
h2 {margin: 0; padding: 0; font-family: 'chunkfiveroman'; font-size: 48px; line-height: 48px; color: #444; font-weight: 800;}
h2 > span {font-family: 'chunkfiveroman';}
h3 {margin: 0; padding: 0; font-family: 'dosisextralight'; font-size: 30px; line-height: 36px; color: #444; font-weight: 100;}
h4 {margin: 0; padding: 0; font-family: 'dosisextralight'; font-size: 24px; line-height: 24px; color: #444; font-weight: 100;}
h5 {margin: 0; padding: 0; font-family: 'dosisextralight'; font-size: 20px; line-height: 20px; color: #444; font-weight: 100;}
h6 {margin: 0; padding: 0; font-family: 'dosisextralight'; font-size: 13px; line-height: 13px; color: #444; font-weight: 100; letter-spacing: 3px;}
p {font-size: 18px; line-height: 34px; margin: 0 0 0 0;}
li {font-size: 18px; line-height: 22px;}
a {color: #DF6A63; transition: 0.3s;}
a:focus, a:hover {outline: none; text-decoration: none; color: #e2807d;}
img {max-width: 100%;}
button {border: none; color: #fff; padding: 12px 24px;}
div, span, p {font-family: 'dosisextralight';}

.default .twitter_module .icon_element, .default i.cp-trigger, .default .red-letters, .default .navigation-panel li.active > a {color: #DF6A63; transition: 0.3s;}
.default a, .default .history-year {color: #DF6A63; transition: 0.3s;}
.default a:focus, .default a:hover {outline: none; text-decoration: none; color: #e2807d;}
.default .red-background {background: #df6a63; transition: 0.3s;}
.default .red-background:hover {background: #e2807d;}
.default .social-nets-icons a:hover {color: #df6a63;}
.default button.paralax-buy-button:hover {background: #df6a63; color: #fff;}
.default .nav-thumb-wrap.active-thumb a {background: #df6a63; color: #fff; transition: 0s;}
.default .nav-thumb-wrap.active-thumb:hover a, .default .nav-thumb-wrap.active-thumb:focus a {background: #df6a63; color: #fff;}
.default .border-color-main {border-color: #e8652d;}
a.letters-black {color: #444 !important;}

.cp-select-list li a.default {background: #df6a63;}
.cp-select-list li a.turquoise {background: #1abc9c;}
.cp-select-list li a.green-sea {background: #16a085;}
.cp-select-list li a.sun-flower {background: #f1c40f;}
.cp-select-list li a.orange {background: #f39c12;}
.cp-select-list li a.emerald {background: #2ecc71;}
.cp-select-list li a.nephritis {background: #27ae60;}
.cp-select-list li a.carrot {background: #e67e22;}
.cp-select-list li a.pumpkin {background: #d35400;}
.cp-select-list li a.peter-river {background: #3498db;}
.cp-select-list li a.belize-hole {background: #2980b9;}
.cp-select-list li a.alizarin {background: #e74c3c;}
.cp-select-list li a.pomegranate {background: #c0392b;}
.cp-select-list li a.amethyst {background: #9b59b6;}
.cp-select-list li a.wisteria {background: #8e44ad;}

.turquoise a, .turquoise button.paralax-buy-button, .turquoise .history-year, .turquoise .twitter_module .icon_element, .turquoise i.cp-trigger, .turquoise .red-letters, .turquoise .navigation-panel li.active > a  {color: #1abc9c; transition: 0.3s;}
.turquoise a:focus, .turquoise a:hover, .turquoise .social-nets-icons a:hover, .turquoise .navigation-panel li.active > a:hover {color: #48c9b0;}
.turquoise .red-background {background: #1abc9c; transition: 0.3s;}
.turquoise .red-background:hover, .turquoise button.paralax-buy-button:hover, .turquoise .nav-thumb-wrap.active-thumb a {background: #48c9b0; color: #fff;}
.turquoise .border-color-main {border-color: #1abc9c;}

.green-sea a, .green-sea button.paralax-buy-button, .green-sea .history-year, .green-sea .twitter_module .icon_element, .green-sea i.cp-trigger, .green-sea .red-letters, .green-sea .navigation-panel li.active > a  {color: #16a085; transition: 0.3s;}
.green-sea a:focus, .green-sea a:hover, .green-sea .social-nets-icons a:hover, .green-sea .navigation-panel li.active > a:hover {color: #45b39d;}
.green-sea .red-background {background: #16a085; transition: 0.3s;}
.green-sea .red-background:hover, .green-sea button.paralax-buy-button:hover, .green-sea .nav-thumb-wrap.active-thumb a {background: #45b39d; color: #fff;}
.green-sea .border-color-main {border-color: #16a085;}

.sun-flower a, .sun-flower button.paralax-buy-button, .sun-flower .history-year, .sun-flower .twitter_module .icon_element, .sun-flower i.cp-trigger, .sun-flower .red-letters, .sun-flower .navigation-panel li.active > a  {color: #f1c40f; transition: 0.3s;}
.sun-flower a:focus, .sun-flower a:hover, .sun-flower .social-nets-icons a:hover, .sun-flower .navigation-panel li.active > a:hover {color: #f4d03f;}
.sun-flower .red-background {background: #f1c40f; transition: 0.3s;}
.sun-flower .red-background:hover, .sun-flower button.paralax-buy-button:hover, .sun-flower .nav-thumb-wrap.active-thumb a {background: #f4d03f; color: #fff;}
.sun-flower .border-color-main {border-color: #f1c40f;}

.orange a, .orange button.paralax-buy-button, .orange .history-year, .orange .twitter_module .icon_element, .orange i.cp-trigger, .orange .red-letters, .orange .navigation-panel li.active > a  {color: #f39c12; transition: 0.3s;}
.orange a:focus, .orange a:hover, .orange .social-nets-icons a:hover, .orange .navigation-panel li.active > a:hover {color: #f5b041;}
.orange .red-background {background: #f39c12; transition: 0.3s;}
.orange .red-background:hover, .orange button.paralax-buy-button:hover, .orange .nav-thumb-wrap.active-thumb a {background: #f5b041; color: #fff;}
.orange .border-color-main {border-color: #f39c12;}

.emerald a, .emerald button.paralax-buy-button, .emerald .history-year, .emerald .twitter_module .icon_element, .emerald i.cp-trigger, .emerald .red-letters, .emerald .navigation-panel li.active > a  {color: #2ecc71; transition: 0.3s;}
.emerald a:focus, .emerald a:hover, .emerald .social-nets-icons a:hover, .emerald .navigation-panel li.active > a:hover {color: #58d68d;}
.emerald .red-background {background: #2ecc71; transition: 0.3s;}
.emerald .red-background:hover, .emerald button.paralax-buy-button:hover, .emerald .nav-thumb-wrap.active-thumb a {background: #58d68d; color: #fff;}
.emerald .border-color-main {border-color: #2ecc71;}

.nephritis a, .nephritis button.paralax-buy-button, .nephritis .history-year, .nephritis .twitter_module .icon_element, .nephritis i.cp-trigger, .nephritis .red-letters, .nephritis .navigation-panel li.active > a  {color: #27ae60; transition: 0.3s;}
.nephritis a:focus, .nephritis a:hover, .nephritis .social-nets-icons a:hover, .nephritis .navigation-panel li.active > a:hover {color: #52be80;}
.nephritis .red-background {background: #27ae60; transition: 0.3s;}
.nephritis .red-background:hover, .nephritis button.paralax-buy-button:hover, .nephritis .nav-thumb-wrap.active-thumb a {background: #52be80; color: #fff;}
.nephritis .border-color-main {border-color: #27ae60;}

.carrot a, .carrot button.paralax-buy-button, .carrot .history-year, .carrot .twitter_module .icon_element, .carrot i.cp-trigger, .carrot .red-letters, .carrot .navigation-panel li.active > a  {color: #e67e22; transition: 0.3s;}
.carrot a:focus, .carrot a:hover, .carrot .social-nets-icons a:hover, .carrot .navigation-panel li.active > a:hover {color: #eb984e;}
.carrot .red-background {background: #e67e22; transition: 0.3s;}
.carrot .red-background:hover, .carrot button.paralax-buy-button:hover, .carrot .nav-thumb-wrap.active-thumb a {background: #eb984e; color: #fff;}
.carrot .border-color-main {border-color: #e67e22;}

.pumpkin a, .pumpkin button.paralax-buy-button, .pumpkin .history-year, .pumpkin .twitter_module .icon_element, .pumpkin i.cp-trigger, .pumpkin .red-letters, .pumpkin .navigation-panel li.active > a  {color: #d35400; transition: 0.3s;}
.pumpkin a:focus, .pumpkin a:hover, .pumpkin .social-nets-icons a:hover, .pumpkin .navigation-panel li.active > a:hover {color: #dc7633;}
.pumpkin .red-background {background: #d35400; transition: 0.3s;}
.pumpkin .red-background:hover, .pumpkin button.paralax-buy-button:hover, .pumpkin .nav-thumb-wrap.active-thumb a {background: #dc7633; color: #fff;}
.pumpkin .border-color-main {border-color: #d35400;}

.peter-river a, .peter-river button.paralax-buy-button, .peter-river .history-year, .peter-river .twitter_module .icon_element, .peter-river i.cp-trigger, .peter-river .red-letters, .peter-river .navigation-panel li.active > a  {color: #3498db; transition: 0.3s;}
.peter-river a:focus, .peter-river a:hover, .peter-river .social-nets-icons a:hover, .peter-river .navigation-panel li.active > a:hover {color: #5dade2;}
.peter-river .red-background {background: #3498db; transition: 0.3s;}
.peter-river .red-background:hover, .peter-river button.paralax-buy-button:hover, .peter-river .nav-thumb-wrap.active-thumb a {background: #5dade2; color: #fff;}
.peter-river .border-color-main {border-color: #3498db;}

.belize-hole a, .belize-hole button.paralax-buy-button, .belize-hole .history-year, .belize-hole .twitter_module .icon_element, .belize-hole i.cp-trigger, .belize-hole .red-letters, .belize-hole .navigation-panel li.active > a  {color: #2980b9; transition: 0.3s;}
.belize-hole a:focus, .belize-hole a:hover, .belize-hole .social-nets-icons a:hover, .belize-hole .navigation-panel li.active > a:hover {color: #5499c7;}
.belize-hole .red-background {background: #2980b9; transition: 0.3s;}
.belize-hole .red-background:hover, .belize-hole button.paralax-buy-button:hover, .belize-hole .nav-thumb-wrap.active-thumb a {background: #5499c7; color: #fff;}
.belize-hole .border-color-main {border-color: #2980b9;}

.alizarin a, .alizarin button.paralax-buy-button, .alizarin .history-year, .alizarin .twitter_module .icon_element, .alizarin i.cp-trigger, .alizarin .red-letters, .alizarin .navigation-panel li.active > a  {color: #e74c3c; transition: 0.3s;}
.alizarin a:focus, .alizarin a:hover, .alizarin .social-nets-icons a:hover, .alizarin .navigation-panel li.active > a:hover {color: #ec7063;}
.alizarin .red-background {background: #e74c3c; transition: 0.3s;}
.alizarin .red-background:hover, .alizarin button.paralax-buy-button:hover, .alizarin .nav-thumb-wrap.active-thumb a {background: #ec7063; color: #fff;}
.alizarin .border-color-main {border-color: #e74c3c;}

.pomegranate a, .pomegranate button.paralax-buy-button, .pomegranate .history-year, .pomegranate .twitter_module .icon_element, .pomegranate i.cp-trigger, .pomegranate .red-letters, .pomegranate .navigation-panel li.active > a  {color: #c0392b; transition: 0.3s;}
.pomegranate a:focus, .pomegranate a:hover, .pomegranate .social-nets-icons a:hover, .pomegranate .navigation-panel li.active > a:hover {color: #cd6155;}
.pomegranate .red-background {background: #c0392b; transition: 0.3s;}
.pomegranate .red-background:hover, .pomegranate button.paralax-buy-button:hover, .pomegranate .nav-thumb-wrap.active-thumb a {background: #cd6155; color: #fff;}
.pomegranate .border-color-main {border-color: #c0392b;}

.amethyst a, .amethyst button.paralax-buy-button, .amethyst .history-year, .amethyst .twitter_module .icon_element, .amethyst i.cp-trigger, .amethyst .red-letters, .amethyst .navigation-panel li.active > a  {color: #9b59b6; transition: 0.3s;}
.amethyst a:focus, .amethyst a:hover, .amethyst .social-nets-icons a:hover, .amethyst .navigation-panel li.active > a:hover {color: #af7ac5;}
.amethyst .red-background {background: #9b59b6; transition: 0.3s;}
.amethyst .red-background:hover, .amethyst button.paralax-buy-button:hover, .amethyst .nav-thumb-wrap.active-thumb a {background: #af7ac5; color: #fff;}
.amethyst .border-color-main {border-color: #9b59b6;}

.wisteria a, .wisteria button.paralax-buy-button, .wisteria .history-year, .wisteria .twitter_module .icon_element, .wisteria i.cp-trigger, .wisteria .red-letters, .wisteria .navigation-panel li.active > a  {color: #8e44ad; transition: 0.3s;}
.wisteria a:focus, .wisteria a:hover, .wisteria .social-nets-icons a:hover, .wisteria .navigation-panel li.active > a:hover {color: #a569bd;}
.wisteria .red-background {background: #8e44ad; transition: 0.3s;}
.wisteria .red-background:hover, .wisteria button.paralax-buy-button:hover, .wisteria .nav-thumb-wrap.active-thumb a {background: #a569bd; color: #fff;}
.wisteria .border-color-main {border-color: #8e44ad;}



.image_more_info a img {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
.relative {position: relative;}
.empty {background-color: #F29B30 !important;}
.margin0 {margin: 0 !important;}
.padding0 {padding: 0 !important;}
.overflow-hidden {overflow: hidden;}
.no-style {list-style: none;}
[class*="col-md"] {float: none; padding: 0;}
.container [class*="col-md"] {float: left; padding: 15px;}
.border-box {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.full-width-container, .fullwidth {width: 100%;}
.inline {display: inline;}
.inline-block {display: inline-block;}
.block {display: block;}
.text-indent {text-indent: 24px;}
.border-radius0 {border-radius: 0 !important;}
.font-dosis {font-family: 'dosisextralight';}
.gray-border-top {border-top: 1px solid #8d8e8d;}
.border-gray {border: 1px solid #ededed;}
.display-table {display: table; vertical-align: middle;}
.table-row {display: table-row; vertical-align: middle;}
.table-cell {display: table-cell; vertical-align: middle;}
.font-weight100 {font-weight:100;}
.font-weight200 {font-weight:200;}
.font-weight300 {font-weight:300;}
.font-weight400 {font-weight:400;}
.font-weight500 {font-weight:500;}
.font-weight600 {font-weight:600;}
.font-weight700 {font-weight:700;}
.font-weight800 {font-weight:800;}
.font-weight900 {font-weight:900;}
.letter-spacing1 {letter-spacing: 1px;}
.letter-spacing2 {letter-spacing: 2px;}
.halfwidth {width:50%; display: block;}
.fullmaxwidth {display: block; max-width:100%;}
.letters-white {color: #fff;}
.letters-black {color: #444;}
.gray-letters {color: #8C8C8B;}

.responsive_nav {display: none;}

.carousel-image-wrap.col-md-8 {padding: 15px 15px 15px 0;}
.carousel-image-wrap.col-md-4 {padding: 15px 0 15px 15px;}
.carousel-control.left, .carousel-control.right {background: none;}
.parallax_banner_wrapper .banner_text_inner {font-family: 'chunkfiveroman';}

.colorpicker-wrapper {position: fixed; left: -200px; top: 90px; width: 200px; background: #ededed; z-index: 999; border-radius: 0 0 4px 0;}
.select-icon {position: absolute; top: 0; right: -44px; background: #ededed; border-radius: 0 4px 4px 0;}
.select-icon i {display: block; padding: 6px; cursor: pointer;}
.cp-wrapper {padding: 12px;}
.cp-select-list li {display: inline-block;}
.cp-select-list li a {display:block; width: 48px; height: 28px; border-radius: 2px;}


/*  INDEX  */
#index {width: auto;}

.chr_slider .fotorama__thumbs {min-height: 0 !important; height: 0 !important; overflow: hidden !important; visibility: hidden !important;}
.fotorama-nav-wrap-custom {position: absolute; bottom: 20px; left: 50%; z-index: 999; margin-left: -600px; width: 1200px; overflow: hidden;}
.fotorama-thumbs-inner {position: absolute; top: 0; left: 0; width: 5000px;}
.nav-thumb-wrap {background: #fff; border-left: 1px solid rgba(0,0,0,0.1);  transition: 0s;}
.nav-thumb-wrap:first-child {border:none;}
.nav-thumb-wrap:focus a {background: #df6a63; color: #fff;}
.nav-thumb-wrap:hover a {background: #C7C9C4; color: #444;}
.nav-thumb-wrap a {display: block; width: 400px; font-size: 18px; line-height: 24px; color: #444;}
.nav-thumb-wrap a span {display: block; padding: 20px 24px; width: auto;}
.t-image-top-left {height: 100%; width: 64px; border-right: 1px solid rgba(0,0,0,0.1); position: absolute; top: -5px; left: 0;}
.nav-thumb-wrap a span.slide-description {padding-left: 120px;}
.bottom-element {border-top: 1px solid rgba(0,0,0,0.1);}
.bottom-element span.slide-title {padding-right: 60px;}
a.arrow-image {position: absolute; top: 12px; right: 24px; width: 24px; height: 24px; background: rgba(0,0,0,0.1) !important; border-radius: 24px; padding: 0; display: block;}
a.arrow-image img {display: block; padding: 6px; border-radius: 24px; background: transparent;}
.nav-thumb-wrap a:hover {cursor: pointer;}
.fotorama__caption.fotorama__caption_overlay {top: 38%; left: 50%; width: auto; height: 300px; display: inline-block !important; background: transparent; font-size: 190px; font-family: 'chunkfiveroman'; line-height: 190px; z-index: 4; padding: 0 48px; margin-left: -25%;}
.fotorama__caption.fotorama__caption_overlay .fotorama__caption_new_line {font-size: 74px; line-height: 80px; width: 100%; display: block;}


a.logo {position: absolute; top: 0; left: 0;vertical-align: bottom;}
a.logo img {width: 75px; margin: 5px;}

nav {min-height: 87px;}
.navigation-tab {width: 100%; background: #fff;}
.navigation-tab.sticky {position: fixed; top: 0; left: 0; z-index: 99999; box-shadow: 0 0 10px rgba(0,0,0,0.07);}
.main-nav-wrap {background: #fff;}
.navigation-panel {padding-top: 9px !important;}
.navigation-panel {background: #fff;}
.navigation-panel li {float: left; display: block;}
.navigation-panel li a {color: #444; font-size: 18px; line-height: 30px; padding: 18px; display: block;}
.navigation-panel li a:hover {color: #df6a63;}




.navigation-sub-pane {background: #fff; position: absolute; left: 0; top: 66px; min-width: 150px; height: 0;}
.navigation-sub-pane li  {float: left; display: block;}
.navigation-sub-pane li a  {color: #444; font-size: 18px; line-height: 30px; padding: 18px; display: block; transition: 0.5s;}
.navigation-sub-pane li a:hover {color: #df6a63;}
.navigation-sub-pane li.active a  {color: #DF6A63;}


.border-bottom-gray {border-bottom: 1px solid #8D8E8D; display: inline-block; width: 420px;}
.border-bottom-white {border-bottom: 1px solid #fff; display: inline-block; width: 420px;}
.text-caption {font-size: 30px; line-height: 30px; font-weight: 300;}


/*  Portfolio Square  */
.gallery-main-wrap {overflow: hidden;}

.square-Portfolio li {display: block; width: 25%; float: left;}
.square-portfolio li a {display: block; position: relative; overflow: hidden;}
.square-portfolio li a img {display: block; max-width: 100%;}
.image-static {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.image-double {position: absolute; bottom: -100%; left: 0; z-index: 3; width: 100%; height: 100%;}
.image-double img {display: block;}
.image-text {position: absolute; left: 0; z-index: 5; width: 100%; height: auto; background: #fff; padding: 12px 0;}
.image-text h4 {line-height: 36px}
.border-circle {border-radius: 150px;}

#port-sq .carousel-placing {height: 0; overflow: hidden; opacity: 0; filter: alpha(opacity=0);}
#port-sq .carousel-control {top: 0; left: 0; width: 50px; height: 50px; background: #db1;}
#port-sq .carousel-control.right {left: 72px; background: url(images/portfolio/arrow-right.png) no-repeat center center;}
#port-sq .carousel-control.left {background: url(images/portfolio/arrow-left.png) no-repeat center center;}
#port-sq .carousel-control.closing {left: auto; right: 0; background: url(images/portfolio/close.png) no-repeat center center; cursor: pointer;}

.description-inner p, .carousel-description {font-size: 18px; line-height: 28px;}
.carousel-description i {margin-right: 5px; font-size: 17px;}
.carousel-socials li {float: left; margin-right: 6px;}
.carousel-socials li a {display: block;}
.carousel-socials li a img {display: block; padding: 12px;}
.carousel-socials li a.fb-bg {background: #3b5998;}
.carousel-socials li a.tw-bg {background: #00aced;}
.carousel-socials li a.yt-bg {background: #bb0000;}
.carousel-socials li a.pint-bg {background: #cb2027;}
.carousel-socials li a.fb-bg:hover {background: #5a76b0;}
.carousel-socials li a.tw-bg:hover {background: #34b3e3;}
.carousel-socials li a.yt-bg:hover {background: #d12323;}
.carousel-socials li a.pint-bg:hover {background: #d73f45;}

.post-category, .date-posted {margin: 12px 0;}

/*  The Guy  */
#theguy {background: url(../images/theguy/bg.jpg) repeat;}
.social-nets-icons ul {display: inline-block;}
.social-nets-icons li {display: block; float: left; padding: 6px 12px 6px 0;}
.social-nets-icons li:last-child {padding-right: 0;}
.social-nets-icons li a {display: block; padding: 6px;}

.social-nets-icons a {color: #444; transition: 0.5s;}

.hover-triangle {display: block; position: absolute;top: 50%; left: 50%; margin-left:-15px; margin-top:-15px; width: 30px; height: 30px; background: url(../images/testimonials/more.png) no-repeat center center; opacity: 0; filter: alpha(opacity=0);transition: 300ms;}
#theguy a:hover > .hover-triangle {opacity: 1; filter: alpha(opacity=100);}


/*  Portfolio Hex  */
#sponsors {background: url(../images/sponsors/bg.png) repeat;}
.white-letters-inside, .white-letters-inside h2 {color: #fff;}
.hex-grid-wrap {display: inline-block; margin: 0 auto;}

.port-hex-wrap {width: 992px; margin: auto;}
.hexagon {overflow: hidden; visibility: hidden; -webkit-transform: rotate(120deg); -moz-transform: rotate(120deg); -o-transform: rotate(120deg); transform: rotate(120deg); }
.hexagon-in1 { overflow: hidden; width: 100%; height: 100%; -webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -o-transform: rotate(-60deg); transform: rotate(-60deg); }
.first-element {background-image: url(../images/sponsors/microsoft.jpg);}
.second-element {background-image: url(../images/sponsors/google.jpg);}
.third-element {background-image: url(../images/sponsors/netsuite.jpg);}
.fourth-element {background-image: url(../images/sponsors/globant.jpg);}
.fifth-element {background-image: url(../images/sponsors/infuy.jpg);}
.sixth-element {background-image: url(../images/sponsors/sophilabs.jpg);}
.seventh-element {background-image: url(../images/sponsors/webstorm.jpg);}
.hexagon-in2 { width: 100%;height: 100%; background-repeat: no-repeat; background-position: 50%; visibility: visible; -webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -o-transform: rotate(-60deg); transform: rotate(-60deg); position: relative; overflow: hidden;}
.hexagon {width: 240px; height: 480px; margin: -132px 4px;}
.hexagon:first-child {margin-left: 128px;}
.hover-effect{position: absolute; width: 100%; height: 100%; top: 0; left: 100%; z-index: 5; display: table; vertical-align: middle; transition: 0.3s;}
.table-row .table-cell .border-bottom-white {width: 60%;}
.hover-effect .text-caption {font-size: 18px;}
.hexagon:hover .hover-effect {left: 0;}


/* History */
#history {background: #1D1D1D;}
.history-year {font-family: 'chunkfiveroman'; font-size: 118px; line-height: 118px; color: #df6a63;}
.major-event {font-family: 'chunkfiveroman'; font-size: 36px; line-height: 36px;}
.history-blocks-wrap {z-index: 5; padding: 140px 0;}
.history-vertical-stripe {position: absolute; z-index: 2; width: 60px; height: 0; height: 100%; top: 0; left: 50%; margin-left: -30px;}
.event-block-wrap {padding: 14px 72px; background: #fff; position: relative; left: 8.9%; width: 70%; margin: 36px 0; z-index: 5;}
.event-block-wrap a {display: block; float: right; display: block; max-width: 35%; float: right;}
span.magnifier {display: block; position: absolute; background: rgba(0,0,0,0.6) url(images/home/magnifier.png) no-repeat center center; top: 0; left: 0; z-index: 5; width: 100%; height: 100%; opacity: 0; filter: alpha(opacity=0); transition: 0.3s;}
.event-block-wrap a:hover span.magnifier {opacity: 1; filter: alpha(opacity=100);}
.event-block-wrap:nth-child(even) {right: auto; left: 21.20%;}
.event-block-wrap:nth-child(even) a {float: left; margin-right: 0;}
.event-block-wrap:nth-child(even) .event-description {float: right;}
.event-description {width: 55%; float: left;}
.event-block-wrap-extended {padding: 14px; background: #fff; position: relative; left: 5.3%; width: 80%; margin: 36px 0; z-index: 5;}
.image-wrapp-ext {display: block;}
.event-block-wrap-extended .image-and-description {max-width: 40%; float: right;}
.event-block-wrap-extended .image-and-description a {display: block;}
.image-and-description a:hover span.magnifier {opacity: 1; filter: alpha(opacity=100);}
.event-block-wrap-extended .image-and-description .image-wrapp-ext {max-width: 100%; margin-right: 212px;}
.event-block-wrap-extended .image-and-description p {position: absolute; right: 0; bottom: 0; text-align: left; width: 200px; font-size: 18px; line-height: 24px;}
.event-block-wrap-extended .event-description {float: left; padding: 12px 108px 12px 24px; width: 60%;}
.event-block-wrap-extended:nth-child(even) {left: 15.3%;}
.event-block-wrap-extended:nth-child(even) .image-and-description {max-width: 40%; float: left;}
.event-block-wrap-extended:nth-child(even) .image-and-description .image-wrapp-ext {max-width: 100%; margin-left: 212px; margin-right: 0;}
.event-block-wrap-extended:nth-child(even) .image-and-description p {position: absolute; left: 0; bottom: 0; text-align: left; width: 200px;}
.event-block-wrap-extended:nth-child(even) .event-description {float: right; padding: 12px 24px 12px 108px; width: 60%;}
.event-description p {font-size: 22px;}

/*  Slider  */

.swiper-container {width: 100%; height: 100%; color: #fff; text-align: center;}
.swiper-slide .title {font-style: italic; font-size: 42px; margin-top: 80px; margin-bottom: 0; line-height: 45px;}
.pagination {position: absolute; z-index: 20; left: 10px; bottom: 10px; opacity: 0; filter: alpha(opacity=0); transition: 0.3s;}
.swiper-container:hover .pagination {opacity: 1; filter: alpha(opacity=100);}
.swiper-pagination-switch { display: inline-block; width: 8px; height: 8px; border-radius: 8px; background: #222; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
.swiper-visible-switch {background: #aaa;}
.swiper-active-switch {background: #fff;}

.red-paralax-background {padding: 12px 0;}
.red-paralax-background .parallax-undercaption {font-family: 'chunkfiveroman'; font-size: 40px; line-height: 50px; margin-left: 5%;}
button.paralax-buy-button {border: 1px solid #fff; background: #fff; color: #df6a63; transition: 0.5s; padding: 8px 36px; float: right; margin-right: 5%;}
/*  Testimonials  */
.testimonial-block {width: 100%; padding: 0 72px;}
.testimonial-block > .testimonial-bottom-spacing {background: #fff;}
.testimonial-bottom-spacing {margin: 72px auto;}
.testimonial-bottom-spacing:last-child {margin-bottom: 0;}
.border-dotted-testimonials {width: 1px; height: 100%; border-right: 1px dashed #1D1E1E; position: absolute; top: 0; left: 50%; margin-left: -1px; z-index: -1;}
.description {width: 40%;}

.image-round-wrap {width: 200px; height: 200px; padding: 0 12px; border-radius: 100px; cursor: default;}
.image-round-wrap img.image-rounded {border-radius: 100px; max-width: 100%; cursor: pointer;}
.position-name-wrap {width: 40%;}
.position-name-wrap a {display: block;}
#testimonials .hover-triangle {transition: 0.3s;}
#testimonials a:hover .hover-triangle {opacity: 1; filter: alpha(opacity=100);}

/*  Contact  */
.contact-info {position: absolute; bottom: 0; left: 0; width: 100%; padding: 12px 0;}

#contact [class*="col-md"] {float: left;}
.google-map-wrapper iframe {border: none; width: 100%; height: 550px; frameborder: 0; scrolling: no; margin: 0;}
.vert_align_wrap_system {display: table;}
.vert_align_wrap_system > * {display: table-row;}
.vert_align_wrap_system > * > * {display: table-cell; text-align: center; vertical-align: middle;}
.vert_align_wrap_system > * > * > * {display: inline-block;}
/*		separators		*/
.separator {width:100%; height: 5px;}
.small_separator {background: #e8e8e8; width:100%; height: 1px;}
.medium_separator { width:100%; height: 4px;}

.twitter-post a {color: #444 !important;}
.twitter-post a:hover {color: #777 !important;}
.twitt-icon {position: absolute; top: 0; left: 0;}

/*			footer				*/

.footer_nav li {display: inline-block; padding-right: 5px; margin-right: 5px; border-right:1px solid transparent; line-height: 10px;}
.footer_nav li:last-child {border:none; padding-right: 0; margin-right: 0;}
.footer_nav li a { line-height: 12px; display: block;}

.footer_wrapper.solid_box {color: #cecece; background: #282828; padding-top: 30px; }
.footer_wrapper.solid_box h2 {color: #cecece};
.footer_wrapper.solid_box  .small_separator {background: #696969;}
.newsletter_sign_up.newsletter_widget {padding: 0;}
.newsletter_sign_up.newsletter_widget input {height:45px !important;}
.newsletter_sign_up.newsletter_widget input[type="text"] {padding-left: 10px;}
.copyright {padding-top:30px; color: #ffffff; font-size:18px; line-height: 18px;}
.copyright a {color: #ffffff; font-size:18px; line-height: 18px;}
.copyright a:hover {color: #ffffff;}
.copyright.solid {padding:7px 10px; font-size:12px; line-height: 12px;}
.copyright.solid a {color: #ffffff; font-size:12px; line-height: 12px;}
.footer_nav_solid li {float:left; margin-right:20px;}
.footer_nav_solid li:last-child {margin-right: 0;}
.footer_nav_solid li a {color: #ffffff; font-size:18px; line-height: 18px;}
.footer_headline.clean {font-size:18px; line-height:18px; display:inline-block; border-bottom:1px solid transparent; padding-bottom:5px; margin-bottom:-1px;}

a.letters-black:hover {color: #fff;}

/*		flickr widget		*/

.flickr_widget img {width:68px; height: 68px; display: block; float:left; margin-left:10px; margin-bottom:10px; }
.flickr_widget .image_wrap .inner_wrap {margin-left: -10px;}
.flickr-feed li {opacity: 0.7; filter: alpha(opacity=70); transition: 0.3s;}
.flickr-feed li:hover {opacity: 1; filter: alpha(opacity=100);}
/*						CONTACT						`*/
input[type="text"].input_field { float:left; width:70%; border-style:solid; border-width: 1px; border-radius:0; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 40px; color: #999999; font-size:16px; line-height: 16px;}
textarea.textarea_field { border:solid 1px transparent; border-radius:0; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size:16px; line-height: 16px; resize: none;}
input[type="text"].input_field:focus, textarea.textarea_field:focus { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;}
input[type="submit"].submit_button, input[type="reset"].submit_button {width:30%; display: block; border-radius:0; height:40px; float: left; font-size:18px; line-height:18px; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:3px 5px 3px 5px; text-align: center; border:none; color:#ffffff;}
.iconic_column_element .column_icon {font-size:70px; line-height: 70px; cursor: default;}
.contact_form_wrapper .field_wrapper .title {height:100%; width:100px; position: absolute; top:0; left: 0; padding:10px 0;}
.contact_form_wrapper .field_wrapper .title > div {color:#ffffff; width:100px; height:100%;overflow: hidden; position: absolute; top:0; left: 0;}
.contact_form_wrapper .field_wrapper .input_field {height: 40px; width: 100%; padding-left:110px; float: none; color: #ffffff; margin:0; font-family: 'dosisextralight'; font-size: 16px; line-height: 16px;}
.contact_form_wrapper .field_wrapper .textarea_field {height: 200px; width: 100%; float: none; padding-left:110px; float: left; color: #ffffff; margin:0; font-family: 'dosisextralight'; font-size: 16px; line-height: 16px;}
.contact_form_wrapper .submit_button.reset {background-color:#212121; transition:background-color 300ms; color: #ffffff;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #fff !important;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #fff !important; font-family: 'dosisextralight'; zoom: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #fff !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #fff !important;
}


/*  Pricing  */

.logo-price img {padding-left: 8px;}
.pricing-body-wrap [class*="col-md"] {padding: 0;}
.pricing-body-wrap .col-md-8, .pricing-body-wrap .col-md-4 {padding: 0 7px;}
.pricing-list li {padding: 9px; background: #353535; color: #909090;}
.zindex-pricing {z-index: 20 !important;}
.pricing-list li span.white-letters {color: #f9f9f9;}
.white-border {border-bottom: 1px solid #f9f9f9;}
.headline {position: relative; z-index: 5;}
.pricing-text {height: 134px; position: relative; z-index: 5;}
.price {font-size: 62px;}
.price span {font-size: 26px;}
span.price-valute {font-size: 62px; color: #909090;}
.pricing-summ {font-size: 32px; display: table-cell; vertical-align: middle; height: 134px;}
.darker-letters {color: #909090;}
.pricing-list li.odd-elem {background:#e4e4e4;}
.pricing-list li.even-elem {background: #f9f9f9;}
.pricing-list li.pricing-button-wrap {background: #e4e4e4; position: relative; padding: 24px; z-index: 3;}
.pricing-list li.pricing-button-wrap a {z-index: 3;}
.pricing-list li a.pricing-button {color: #f1f1f1; display:inline-block; font-size: 18px; line-height: 20px; background: #545454; padding: 6px 32px;}
li.opacity-effect {position: absolute; height: 100%; width: 100%; background: #000; opacity: 0.1; filter: alpha(opacity=10); top: 0; left: 0; padding: 0;}
.col-md-3 ul.pricing-list {transition : 0.5s; -webkit-transition : 0.5s; -ms-transition : 0.5s;  -moz-transition : 0.5s;}
.col-md-3 ul.pricing-list:hover {transform: scale(1.1); -webkit-transform: scale(1.1); -ms-transform: scale(1.1); -moz-transform: scale(1.1); box-shadow: 0 0 16px #000; z-index: 50;}
ul.pricing-list.pricing-items:hover li.headline, ul.pricing-list.pricing-items:hover li.pricing-text, ul.pricing-list.pricing-items:hover li a.pricing-button, ul.pricing-list.pricing-items:hover li.pricing-text .price-valute,  ul.pricing-list.pricing-items:hover li.pricing-text .darker-letters {background: #DF6A63; color: #f9f9f9 !important;}
 ul.pricing-list.pricing-items:hover li a.pricing-button:hover {background: #e2807d;}


/*  Blog Pages  */
.font16-lh20 {font-size: 16px; line-height: 20px;}
.col-md-4 .date_tags_comments > div.item {float: none;}


.letter-spacing1 {letter-spacing: 1px;}
.letter-spacing2 {letter-spacing: 2px;}
.border-box {-ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.halfwidth {width:50%; display: block;}
.fullwidth {width:100%; display: block;}
.fullmaxwidth {display: block; max-width:100%;}
.list_style {list-style: none;}
.relative {position: relative;}
.margin0 {margin: 0;}
.padding0 {padding: 0;}
.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}
.float_left {float: left !important;}
.float_right {float: right !important;}
.bold {font-weight: 600;}
.text-center{text-align: center;}

.vert_align_wrap_system {display: table;}
.vert_align_wrap_system > * {display: table-row;}
.vert_align_wrap_system > * > * {display: table-cell; text-align: center; vertical-align: middle;}
.vert_align_wrap_system > * > * > * {display: inline-block;}


.padding-top10 {padding-top: 10px;}
.padding-right12 {padding-right: 12px;}

/*		separators		*/

.separator {width:100%; height: 5px;}
.small_separator {background: #e8e8e8; width:100%; height: 1px;}
.medium_separator { width:100%; height: 4px;}

/*		search box			*/

.search_box {color: #999999;}

input[type="text"].input_field { float:left; width:70%; border-style:solid; border-width: 1px; border-radius:0; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 40px; color: #999999; font-size:16px; line-height: 16px; padding: 0 12px;}
textarea.textarea_field { border:solid 1px transparent; border-radius:0; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size:16px; line-height: 16px;}
input[type="text"].input_field:focus, textarea.textarea_field:focus { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; color: #000 !important;}
input[type="submit"].submit_button, input[type="reset"].submit_button {width:30%; display: block; border-radius:0; height:40px; float: left; font-size:18px; line-height:18px; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:3px 5px 3px 5px; text-align: center; border:none; color:#ffffff;}




/*		categories 		*/

.categories a {font-size:18px; line-height: 22px;}
.categories a:hover {text-decoration:none;}

/*		latest comments widget 		*/

.latest_comments_widget a:hover {text-decoration:none;}

/*		latest tweets			*/

.twitter_module .icon_element {display: block; float: left; font-size: 30px; line-height: 30px; margin-right:20px; margin-top:5px; cursor: default;}
.twitter_module .text {width: 100%; padding-left: 48px;}
/*		social_bar_widget		*/

.social_bar_widget a {float:left; border-radius: 50%; display: block; padding: 10px; margin:0 10px 10px 0; filter:alpha(opacity = 70); opacity:0.7; transition: opacity 300ms;}
.ico-fb {background-color:#3b5998;}
.ico-tw {background-color:#23aae1;}
.ico-yt {background-color:#cd332d;}
.ico-pi {background-color:#c92228;}

/*		tag cloud		*/
.headline_line-left.headline_separated .headline_text {display: inline-block; padding-left:10px; padding-right:10px;}
.tag_list li{ float: left; margin-left:3px; margin-bottom:3px; list-style:none; }
.tag_list a {color: #ffffff; display: block; padding:5px 10px 7px 10px;}
.tag_list a:hover {text-decoration:none; color: #ffffff;}

.social_bar_widget a:hover { filter:alpha(opacity = 100); opacity:1; transition: opacity 300ms;}}

/*		pagination			*/

.pagination_wrapper ul {list-style:none; width:100%;}
.pagination_wrapper li {float:left; margin-left:2px; display: block;}
.pagination_wrapper li a {display: block; background-color: #e7e7e9; font-size:16px; line-height: 16px; padding: 12px 0; width:40px; height: 40px; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color:#ffffff;}
.pagination_wrapper li:last-child a {padding-top:11px;}
.pagination_wrapper li:first-child a {padding-top:11px;}
.pagination_wrapper li a:hover {text-decoration:none;}

.read_more.button {transition: 0.3s; padding: 7px 12px; display: inline-block; color: #fff !important;}
.date_tags_comments > div.item {float: left; margin-right: 24px;}

/*		blog post			*/

.blog_post_author_box .avatar_image { border-radius: 50%; width: 70px; height: 70px;}
.blog_post_author_box .info_wrap {margin-left:110px; font-size:18px; line-height: 24px;}
.blog_post_author_box .info_wrap .name {font-size:30px; line-height: 30px;}
.social_bar ul li {display: block; margin-left: 6px; float: left;}
.social_bar ul li a {display: block; position: relative; width: 34px; height: 34px; overflow: hidden;}
.social_bar ul li a img.static, .social_bar ul li a img.dynamic {display: block; padding: 8px; position: absolute; left: 0; transition: 0.3s;}
.social_bar ul li a img.static {top: 0px;}
.social_bar ul li a img.dynamic {top: 34px;}
.bg-fb {background: #3b5998;}
.bg-tw {background: #00aced;}
.bg-yt {background: #bb0000;}
.bg-in {background: #007bb6;}
.bg-ms {background: #a82400;}
.bg-pin {background: #cb2027;}
.social_bar ul li a:hover img.static {top: 0px;}
.social_bar ul li a:hover img.dynamic {top: -34px;}

/*			comment form			*/

.comment_form_wrapper {display:none;}
.comment_form_wrapper input.input_field {width:300px; border:1px solid transparent; max-width:100%; padding-left:10px; font-size:14px; line-height: 14px;}
.comment_form_wrapper .alternative_login {width:220px; max-width:100%; float: left;}
.comment_form_wrapper .alternative_login .text {padding-top:8px; padding-bottom:12px; float: left; padding-right:10px;}
.comment_form_wrapper .alternative_login .icon {height:40px; width: 40px; display: block; background: #444; margin-right:2px; float:left; margin-bottom:2px;}
textarea.textarea_field {height:250px; width:100%; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border:1px solid transparent; border-radius:0; resize: none; font-size:14px; line-height:16px; padding: 10px;}
textarea.textarea_field:focus {-moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;}
.comment_form_wrapper input.submit_button {width:100px; float: right; display: block; min-height: 40px; padding: 7px 5px;}
form .close_button {font-size:26px; line-height:26px; padding: 0px 10px 6px 10px; float: right; color: #ffffff; cursor: pointer; border: none;}



/*		comments				*/

.comments_wrapper .headline {font-size:20px; line-height:20px;}
.comments_wrapper .single_comment {position: relative; padding-top:15px; padding-bottom:30px; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-bottom:1px solid #e8e8e8; width:100%; margin-top:10px;}
.comments_wrapper .single_comment .comment_avatar_image {width:50px; height:50px; display: block; margin:5px 20px 5px 0; float: left;}
.comments_wrapper .single_comment .comment_date {position: absolute; top:0px; left:0; font-size:12px; line-height: 12px;}
.comments_wrapper .single_comment .name {position: absolute; bottom:10px; left:70px; font-size:12px; line-height: 12px;}
.comments_wrapper .single_comment .reply_button_wrapper {position:absolute; bottom:5px; right:0; padding-right:0px;}
.comments_wrapper .single_comment .reply_button_wrapper i {display: inline-block; margin-left:10px;}
.comments_wrapper .single_comment .reply_button_wrapper a:hover {text-decoration: none;}
.comments_wrapper .single_comment .comment_text {padding-left:70px;}
.comments_wrapper .indent {margin-left:70px;}


#contact-form {height: 0;}










.text_color_default, .text_color_default:hover, .text_color_default:focus {color:#4c4c4c;}
.background-color-main-before:before {background:  #e8652d !important;}
.background-color-main {background: #e8652d !important; transition: background-color 300ms;}
.hover-background-color-lighter-main:hover {background: #ec8051 !important; transition: background-color 300ms;}
.hover-background-color-main:hover {background: #df6a63 !important; transition: 0.3s;}
.background-color-main-rgba {background: rgba(232, 101, 45, 0.85) !important;}
.background-color-passive {background: #ceced0 !important; transition: background-color 300ms;}
.text-color-main {color: #e8652d !important;}
.text-color-pale {color: #a3a4a6 !important;}
.hover-text-color-main:hover {color: #e8652d !important;}
.link-color-main {color:#6595bb !important;}
.hover-link-color-main:hover {}
.small_separator {background: #dadada !important;}
.menu_wrapper.solid {background: #282828;}
.menu_wrapper.solid .submenu {background: rgba(40,40,40,1) !important;}
.menu_wrapper.solid .submenu li a:hover {background: #e8652d !important;}
.headline_separator_color {background: #e4e4e4 !important;}














