extends base

block content
  .agenda
    h2 Agenda
    .container
      .row
        .col-md-8.col-md-offset-2
          table
            thead
              tr
                th
                th(colspan="2") 1st Day - March 14th
                th
              tr
                th
                th(colspan="2") Talks
                th
            tbody
              tr
                td.time 13:00
                td.full.break(colspan="2") Registration
                td.time 13:00
              tr
                td.time 14:00
                td.full.break(colspan="2") Opening
                td.time 14:00
              tr
                td.time 14:15
                td.keynote(colspan="2")
                  .pictures
                    a(href='/#Guillermo Rauch', title='Guillermo Rauch')
                      img(src='/img/speakers/guillermo-rauch.jpg')
                  h3 We play
                td.time 14:15
              tr
                td.time 14:50
                td.talk(colspan="2")
                  .pictures
                    a(href='/#Forbes Lindesay', title='Forbes Lindesay')
                      img(src='/img/speakers/forbes-lindesay.jpg')
                  h3 Jade: A templating language
                  p.talk-summary
                    | Jade is a popular templating engine for JavaScript.
                    | Built primarily for server side use but with support
                    | for use in the client as well, it is performant,
                    | terse and powerful.
                    br
                    | This talk will introduce the jade templating language,
                    | explain the design choices in the language and cover
                    | the changes that are coming in version 1.0.0.
                    | It will also discuss best practices for inheritance,
                    | mixins, filters etc.
                td.time 14:50
              tr
                td.time 15:20
                td.break(colspan="2") Break
                td.time 15:20
              tr
                td.time 15:35
                td.talk(colspan="2")
                  .pictures
                    a(href='/#Lenny Markus', title='Lenny Markus')
                      img(src='/img/speakers/lenny-markus.jpg')
                  h3 Building for scale with KrakenJS
                  p.talk-summary
                    | A member of the KrakenJS core team will explain
                    | the philosophy behind the framework, why it's a
                    | good fit for large and small companies; and build
                    | a complete application -live- as you are guided
                    | through the most important features of the framework.
                td.time 15:35
              tr
                td.time 16:10
                td.talk(colspan="2")
                  .pictures
                    a(href='/#Jú Gonçalves', title='Jú Gonçalves')
                      img(src='/img/speakers/ju-goncalves.jpg')
                  h3 Improving client-side apps' performance with Facebook's React
                  p.talk-summary
                    | React uses advanced algorithmics together with
                    | reactive programming to make it easier to create
                    | faster UIs, by reducing the amount of DOM manipulations.
                    br
                    | Doesn't it matter if you app is Backbone or Angular based,
                    | this talk will show why (and how) add React to your project.
                    | It will also introduce Om, for the ones who needs very
                    | performant apps, by taking advantage of the concept of
                    | immutability.
                td.time 16:10
              tr
                td.time 16:40
                td.break(colspan="2") Break
                td.time 16:40
              tr
                td.time 16:55
                td.talk(colspan="2")
                  .pictures
                    a(href='/#James MacAulay', title='James MacAulay')
                      img(src='/img/speakers/james-macaulay.png')
                  h3 Promises
                  p.talk-summary
                    | Promises are now truly part of the JavaScript language.
                    | This means we can write against a single full-featured
                    | promise API to build lightweight, composable libraries
                    | which dramatically reduce the complexity of our code at
                    | every level of abstraction.
                td.time 16:55
              tr
                td.time 17:30
                td.talk(colspan="2")
                  .pictures
                    a(href='/#Federico Silva', title='Federico Silva')
                      img(src='/img/speakers/federico-silva.png')
                  h3 Functional Javascript
                  p.talk-summary
                    | La programación funcional, antes una rareza académica,
                    | esta apareciendo en la escena mainstream cada vez mas.
                    | Javascript, el lenguaje mas extendido del planeta está
                    | ampliamente capacitado para permitir la aplicación del
                    | paradigma. Exploraremos una definición de FP adecuada al
                    | lenguaje, cuales son sus beneficios y exploraremos algunos
                    | ejemplos basados en underscore.js para ilustrar
                    | mejor lo hablado.
                td.time 17:30
              tr
                td.time 18:00
                td.break(colspan="2") Break
                td.time 18:00
              tr
                td.time 18:15
                td.talk(colspan="2")
                  .pictures
                    a(href='/#Forbes Lindesay', title='Forbes Lindesay')
                      img(src='/img/speakers/forbes-lindesay.jpg')
                  h3 Promises and Generators: control flow utopia
                  p.talk-summary
                    | I will talk about how ES6 generators can help you
                    | make your asynchronous code easier to understand in
                    | terms of synchronous concepts and how you can get
                    | some of the same benefits in thought processes by
                    | using promises today.  I will also discuss the
                    | ES6 promises specification.
                td.time 18:15
              tr
                td.time 18:50
                td.keynote(colspan="2")
                  .pictures
                    a(href='/#Jeremy Ashkenas', title='Jeremy Ashkenas')
                      img(src='/img/speakers/jeremy-ashkenas.jpg')
                  h3 Backbone.js
                td.time 18:50
              tr
                td.time 19:35
                td.full.break(colspan="2") Close
                td.time 19:35
            thead
              tr
                th
                th(colspan="2") 2nd Day - March 15th
                th
              tr
                th
                th Talks
                th Workshops
                th
            tbody
              tr
                td.time 10:00
                td.full.break(colspan="2") Opening
                td.time 10:00
              tr
                td.time 10:05
                td.keynote(colspan="2")
                  .pictures
                    a(href='/#James Halliday', title='James Halliday')
                      img(src='/img/speakers/james-halliday.jpg')
                  h3 Tiny modules on the frontend
                td.time 10:05
              tr
                td.time 10:35
                td.talk
                  .pictures
                    a(href='/#Jean Carlo Nascimento', title='Jean Carlo Nascimento')
                      img(src='/img/speakers/jean-nascimento.png')
                  h3 Be MEAN
                  p.talk-summary
                    | Actually we can do anything with Javascript, so why
                    | not make an entire application with Javascript? It's
                    | for that MEAN exists, we can use MongoDb, Express,
                    | AngularJs and Node.js for create several applications,
                    | let's know how integrate all this technologies.
                td.workshop(rowspan=4)
                 .pictures
                    a(href='/#Matias Woloski', title='Matias Woloski')
                      img(src='/img/speakers/matias-woloski.png')
                    a(href='/#Jose Romaniello', title='Jose Romaniello')
                      img(src='/img/speakers/jose-romaniello.png')
                  h3 NodeJS
                  p.workshop-summary
                    | Node.js Bootcamp: Fundamentals
                td.time 10:35
              tr
                td.time 11:10
                td.break Break
                td.time 11:10
              tr
                td.time 11:25
                td.talk
                  .pictures
                    a(href='/#Joe Pettersson', title='Joe Pettersson')
                      img(src='/img/speakers/joe-pettersson.jpg')
                  h3 JavaScript Security: myths, fallacies and anti-patterns
                  p.talk-summary
                    | I've worked on some very sensitive front-end codebases
                    | (banks, pharma, defence et al) and as a consequence
                    | I've come across every type of good and bad practice.
                    | In this talk I'll share some of those experiences and
                    | talk about the part security plays in delivering high
                    | quality client-side JavaScript, including:
                    br
                    br
                    | * Why you don't control your run-time environment and
                    | why that's such a problem.
                    br
                    | * Some inherent problems with JavaScript's security
                    | model and design
                    br
                    | * Writing secure API's with that in mind
                    br
                    | * Exposing and implementing countermeasures for
                    | common attacks in highly sensitive codebases
                    br
                    | * Patterns and anti-patterns in front-end penetration
                    | testing and auditing
                    br
                    | * Why security is so important to high quality code,
                    | and why you're probably not thinking about it enough
                    br
                    br
                    | Hopefully, by the end of the talk, you'll be able to
                    | take away some the lessons I've learnt from the best of
                    | these highly secure front-end codebases, and maybe how
                    | you can stop yours failing quite as spectacularly as
                    | some of the worst ones have.
                td.time 11:25
              tr
                td.time 12:00
                td.talk
                  .pictures
                    a(href='/#Benoit Marchant', title='Benoit Marchant')
                      img(src='/img/speakers/beonit-marchant.jpg')
                  h3(title='Exceeding expectations: how the MontageJS Draw cycle helps HTML5 apps rival the native experience')
                    | MontageJS
                  p.talk-summary
                    | Delivering complex mobile experiences with HTML5 that
                    | match consumers high expectations is still very
                    | challenging. This talk explains how the Draw Cycle
                    | in the MontageJS open source HTML5 Framework minimizes
                    | expensive layout reflows to provide high quality user
                    | experience, particularly on mobile devices...
                td.time 12:00
              tr
                td.time 12:30
                td.full.break(colspan=2) Lunch
                td.time 12:30
              tr
                td.time 14:00
                td.talk
                  .pictures
                    a(href='/#Zeno Rocha', title='Zeno Rocha')
                      img(src='/img/speakers/zeno-rocha.jpg')
                  h3 A future called Web Components
                  p.talk-summary
                    | Discover how this new concept formed by
                    | five new W3C specifications (Templates,
                    | Decorators, Shadow DOM, Custom Elements,
                    | HTML Imports) will revolutionize the way
                    | we develop and interact on the web.
                td.workshop(rowspan=5)
                 .pictures
                    a(href='/#Julián Duque', title='Julián Duque')
                      img(src='/img/speakers/julian-duque.jpg')
                  h3 Nodebots
                  p.workshop-summary
                    | Show how to program hardware with Node.js, Arduino,
                    | BeagleBone Black, Rasperry Pi and Parrot AR Drone.
                td.time 14:00
              tr
                td.time 14:35
                td.talk
                  .pictures
                    a(href='/#Thorsten Lorenz', title='Thorsten Lorenz')
                      img(src='/img/speakers/thorsten-lorenz.png')
                  h3 Source Maps, how they work and why you should care
                  p.talk-summary
                    | Most of us are using source maps one way or the other and
                    | pretty much every web developer will encounter them sooner
                    | or later. It's time to get a good grasp on them.
                    br
                    | You may know that source maps come into play when
                    | transpiling, bundling or minifying JavaScript, but
                    | did you know that they also made their way into
                    | css transpilers like sass?
                    br
                    | The talk will be structured into the below sections
                    | designed to give attendees a full understanding on
                    | how source maps work and hopefully inspire them to
                    | write more awesome tools that make use of them.
                td.time 14:35
              tr
                td.time 15:05
                td.break Break
                td.time 15:05
              tr
                td.time 15:20
                td.talk
                  .pictures
                    a(href='/#Leo Balter', title='Leo Balter')
                      img(src='/img/speakers/leo-balter.jpg')
                  h3 Testing Sucks
                  p.talk-summary
                    | Testing Sucks. Testable projects don't. With
                    | focus on unit testing with QUnit and DexterJS
                    | (mocking tool) that's a opportunity to reduce
                    | code maintenance in long term projects.
                    br
                    | When testing we may take a longer path, but the
                    | results are a less breaking to unbreakable code.
                    | Doing so, we get more time to spend on new features
                    | instead of fixing bugs without FUD.
                td.time 15:20
              tr
                td.time 15:55
                td.talk
                  .pictures
                    a(href='/#Matias Woloski', title='Matias Woloski')
                      img(src='/img/speakers/matias-woloski.png')
                    a(href='/#Jose Romaniello', title='Jose Romaniello')
                      img(src='/img/speakers/jose-romaniello.png')
                  h3 Death to cookies, long live JSON Web Tokens
                td.time 15:55
              tr
                td.time 16:25
                td.full.break(colspan=2) Break
                td.time 16:25
              tr
                td.time 16:40
                td.talk
                  .pictures
                    a(href='/#Angel "Java" Lopez', title='Angel "Java" Lopez')
                      img(src='/img/speakers/angel-java-lopez.jpg')
                  h3 Distributed Applications in Node.js
                  p.talk-summary
                    | An exploration of distributed applications,
                    | using messages and distributed algorithms:
                    | messaging, queues, distributed actors, and
                    | other approaches.
                td.workshop(rowspan=2)
                 .pictures
                    a(href='/#Pablo Terradillos', title='Pablo Terradillos')
                      img(src='/img/speakers/pablo-terradillos.jpg')
                    a(href='/#Pablo Cúbico', title='Pablo Cúbico')
                      img(src='/img/speakers/pablo-cubico.jpg')
                    a(href='/#Fernando Briano', title='Fernando Briano')
                      img(src='/img/speakers/fernando-briano.jpg')
                  h3 FirefoxOS
                td.time 16:40
              tr
                td.time 17:15
                td.talk
                  .pictures
                    a(href='/#Leonardo Garcia', title='Leonardo Garcia')
                      img(src='/img/speakers/leonardo-garcia.png')
                  h3 Why Bacon is actually good for your health
                  p.talk-summary
                    | En esta charla se verá qué es la programación
                    | funcional reactiva, viendo ejemplos con Bacon.js,
                    | una de las librerías más populares de FRP. Vamos a
                    | ver qué son los streams de eventos, properties y
                    | las ideas funcionales que podemos utilizar si
                    | usamos esas abstracciones, y las ventajas de
                    | hacer esto. Veremos también cómo podemos
                    | usar esto junto con herramientas que ya conocemos,
                    | como Backbone o Angular. Es una charla con muchos
                    | ejemplos de código.
                td.time 17:15
              tr
                td.time 17:45
                td.full.break(colspan=2) Break
                td.time 17:45
              tr
                td.time 18:00
                td.keynote(colspan="2")
                  .pictures
                    a(href='/#Douglas Crockford', title='Douglas Crockford')
                      img(src='/img/speakers/douglas-crockford.jpg')
                  h3 The Better Parts
                td.time 18:00

block script
  script(src='/js/agenda.js')
