!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title JSConf - Montevideo, Uruguay
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/dist/css/bootstrap.min.css')

  body
    | HOLA
    br
    | HOLA
    br
    | HOLA
    br
    | HOLA
    br
    | HOLA
    br
    block header
      
      nav.navbar.navbar-default(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Brand
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Link
            li
              a(href='#') Link
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                 a(href='#') Separated link
                li.divider
                li
                  a(href='#') One more separated link
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Link
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
    block content
    block content2
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
      | Hola
      br
    block footer
    block script
      script(src='vendor/jquery/jquery.min.js')
      script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
