!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title JSDoge - Montevideo, Uruguay
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    
    link(rel='stylesheet', type='text/css', href='/css/doge.css')

  body
    .background
    ul
      li very conference
      li so asynchrone
      li wow
      li much speaker
      li such talk
