!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title JSDoge - Montevideo, Uruguay
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    
    link(rel='stylesheet', type='text/css', href='/css/doge.css')

  body
    .background
    ul
      li
        a(href='/') very javascript
      li so asynchronous
      li wow
      li
        a(href='/#speakers') much speaker
      li many workshop
      li
        a(href='http://tickets.jsconf.uy') get ticket!!!
      li
        a(href='/proposals') such proposal
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40076270-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
