extends base
block content
  .faq
    h2 FAQ
    .container
      .row
        .col-md-12
          p
            | We know getting to a new country can be difficult some times. This is an attempt to make this easier but if you still have doubts please send us an email to 
            a(href='mailto:hola@jsconf.uy') hola@jsconf.uy
            |.
      h2 Getting to Uruguay
      .row
        .col-md-4          
          h4 By Plane:
          br
          p
            | The 
            a(href='http://www.aeropuertodecarrasco.com.uy/en/') Carrasco Internation Airpot 
            | (IATA: MVD) is located 15km from the city and all major airlines operate.
          p
            | Once you arrive you can choose to take a taxy (UYU 1500) a remise (UYU 800) or a bus (UYU 31) to the city.
      
        .col-md-4
          h4 By Boat:
          br
          p
            | Boats are operated from Montevideo to Buenos Aires and viceversa by  
            a(href='http://www.buquebus.com.uy/') Buquebus 
            |. There are several boats a day and the trip usually takes 3 hours.
        
        .col-md-4
          h4 By Bus:
          br
          p
            | Several companies operates bus travels to Montevideo. Ferry companies also have trips from Buenos Aires to 
            a(href='http://en.wikipedia.org/wiki/Colonia_del_Sacramento') Colonia 
            | and continue from there to Montevideo by bus.
          p
            | All international buses arrive to 
            a(href='http://www.trescruces.com.uy/') Tres Cruces 
            | the main city terminal.
      h2 Lodging
      .row
        .col-md-12
          p
            | Montevideo has a huge offer of hotels from all price ranges. We recomend staying in the neighborwoods of 
            | Punta Carretas, Pocitos, Parque Rodó or Centro (City Downtown). 
          p
            | All neighborwoods have great communication with the rets of the city and 
            | and getting to the conference will be a 5 minutes taxy ride or 20 minutes by bus.
          p 
            | The following list can be used as a guide to book an hotel or hostel. 
            | Feel free to 
            a(href='mailto:hola@jsconf.uy') drop us an email 
            | if you have concerns about a particular hotel, we will be glad to help.
        .col-md-6
          h3 Hotels
          ul
            li 
              a(href='http://www.hotelcaladivolpe.com.uy/english/') Cala Di Volpe
            li 
              a(href='http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=1238') Sheraton Montevideo
            li 
              a(href='http://pocitosplazahotel.com.uy/') Pocitos Plaza
            li 
              a(href='http://www.armonsuites.com.uy/') Armon Suites
            li 
              a(href='http://www.puntatrouville.com.uy/') Punta Trouville Aprt & Suites
            li 
              a(href='http://www.ibis.com/es/hotel-3539-ibis-montevideo/index.shtml') Ibis Montevideo
        .col-md-6
          h3 Hostels
          ul
            li 
              a(href='http://www.montevideoup.com.uy/') Montevideo Up Hostel
            li 
              a(href='http://www.elviajerodowntown.com/es/') El Viajero
            li 
              a(href='http://www.chelagarto.com/') Che Lagarto
      h2 Useful Information
      .row
        .col-md-6
          ul
            li 
              | Exchange rate is ~21. You can check the daily rate at 
              a(href='http://www.bcu.gub.uy/Paginas/Default.aspx') Banco Central del Uruguay 
              | (National Bank).
            li 
              | No need to go to a bank to change money. 
              | There are exchange houses all over the city and most merchants will accept dollars at a fair rate.
            li 
              | Electricity is 220v and the regular electric outlet is 3 in line.
        .col-md-6
          ul
            li 
              a(href='http://www.lonelyplanet.com/uruguay') Uruguay in Lonley Planet Guide
            li 
              a(href='http://www.uruguaynatural.tv/english') Uruguay in videos (English subs)
          