extends base
block content
  h2 Hotels
  .container
    .row
      .col-md-12
        p
          | We made some agreements with hotels in order to make your stay more enjoyable and why not, stay a few more days in Montevideo.
          
        p
          | All hotels prices are discounted from their regular prices if you mention that you are coming to 
          b JSConfUY
          ,
          | remember to print your ticket to the conf because some hotels may ask for it.
          
    .hotels
      .row
        .col-md-6
          .hotel-header
            img(src='http://www.puntatrouville.com.uy/imagenes/2nosotros.jpg', style='top: -150px;')
            h3 Punta Trouville Hotel
      
          table.table.table-bordered
            thead
              tr
                th Room Type
                th Without Breakfast
                th With Breakfast
            tbody
              tr
                td Single
                td USD 72
                td USD 79
              tr
                td Double
                td USD 77
                td USD 84
              tr
                td Triple
                td USD 95
                td USD 109
            tfoot
              tr
                td(colspan=3) 
                  a(href='http://www.puntatrouville.com.uy') More Information
              
        .col-md-6
          .hotel-header
            img(src='http://www.afterhotel.com.uy/cache/widgetkit/gallery/2/ubicacion_2-5233d566aa.jpg', style='top: -200px;')
            h3 After Hotel Montevideo
          
          table.table.table-bordered
            thead
              tr
                th 
                th After Twin
                th After Queen
                th Superior
                th Premium
                th Suite
            tbody
              tr
                td Mon - Thu
                td 105
                td 105
                td 125
                td 135
                td 190
              tr
                td Fri - Sun
                td 100
                td 100
                td 120
                td 130
                td 190
                
            tfoot
              tr
                td(colspan=6)
                  a(href='http://www.afterhotel.com.uy') More Information
              
      .row
        .col-md-6
          .hotel-header
            img(src='http://massinisuites.com.uy/images/galeria/1GR.jpg', style='top: -240px;')
            h3 Massini Suites
      
          table.table.table-bordered
            thead
              tr
                th Room Type
                th Without Breakfast
            tbody
              tr
                td Single
                td USD 72
              tr
                td Double
                td USD 77
              tr
                td Triple
                td USD 95
            tfoot
              tr
                td(colspan=3) 
                  a(href='http://www.massinisuites.com.uy') More Information
                
        .col-md-6
          .hotel-header
            img(src='http://i1.wp.com/27suites.com/wp-content/uploads/2013/05/room_2_room_page_2_big.jpg?resize=851%2C564', style='top: -280px;')
            h3 27 Suites

          table.table.table-bordered
            thead
              tr
                th Room Type
                th Without Breakfast
            tbody
              tr
                td Single
                td USD 72
              tr
                td Double
                td USD 77
              tr
                td Triple
                td USD 95
            tfoot
              tr
                td(colspan=3) 
                  a(href='http://www.27suites.com') More Information
        