extends base
block content
  .faq
    h2 Hotels
    .container
      .row
        .col-md-12
          p
            | Montevideo has a huge offer of hotels from all price ranges. We put together a list of some hotels that we recomend based on their reputation and location.
          p
            | All neighborwoods have great communication with the rets of the city and 
            | and getting to the conference will be a 5 minutes taxy ride or 20 minutes by bus.
        .col-md-6
          h3 Hotels
          ul
            li 
              a(href='http://www.hotelcaladivolpe.com.uy/english/') Cala Di Volpe
            li 
              a(href='http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=1238') Sheraton Montevideo
            li 
              a(href='http://pocitosplazahotel.com.uy/') Pocitos Plaza
            li 
              a(href='http://www.armonsuites.com.uy/') Armon Suites
            li 
              a(href='http://www.puntatrouville.com.uy/') Punta Trouville Aprt & Suites
            li 
              a(href='http://www.ibis.com/es/hotel-3539-ibis-montevideo/index.shtml') Ibis Montevideo
        .col-md-6
          h3 Hostels
          ul
            li 
              a(href='http://www.montevideoup.com.uy/') Montevideo Up Hostel
            li 
              a(href='http://www.elviajerodowntown.com/es/') El Viajero
            li 
              a(href='http://www.chelagarto.com/') Che Lagarto
          