doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.min.css")
  body
    #page
      header.row
        h1= title
      .row
        p Express App
    script(src="http://localhost:3355/livereload.js")
    script(src="/bower_components/jquery/jquery.js")

