extends base
include mixins/sponsor
include mixins/speaker
include mixins/organizer

block top
  .slider
    .slides
      img(src='/img/slider/montevideo.jpg', data-caption='JSConfUY<span>Montevideo - March 14th and 15th, 2014</span>')
      img(src='/img/slider/crockford.jpg', data-caption='<span>Starring Douglas Crockford</span>')
      img(src='/img/slider/antel.jpg', data-caption='<span>Torre de las Telecomunicaciones</span>')
    ul.thumbs
      li
        i.fa.fa-calendar
        span March 14th-15th, Montevideo
      li
        i.fa.fa-bullhorn
        span Douglas Crockford
      li
        i.fa.fa-map-marker
        span Antel Auditorium

block content
  .speakers
    h2#speakers Speakers
    h3 Meet the speakers
    ul.speakers-list
      li
        +speakerHeader('Douglas Crockford', '/img/speakers/douglas-crockford.jpg')
        p
          | Douglas Crockford is known as The JavaScript Guy. He’s famous not only for his
          | O’Reilly book JavaScript: The Good Parts but even more so as the visionary behind
          | the JSON data format as well as the JSLint tool.
      li
        +speakerHeader('Guillermo Rauch', '/img/speakers/guillermo-rauch.jpg', '')
        p
          | Guillermo is the creator of
          a(href='http://socket.io/') socket.io
          | . Enthusiastic entepreneur, CTO and Founder of
          a(href='https://cloudup.com/') Cloudup
          |  and previously Co-founder of
          a(href='https://www.learnboost.com') Learn Boost
          | .

      li
        +speakerHeader('Jeremy Ashkenas', '/img/speakers/jeremy-ashkenas.jpg', '')
        p
          | Jeremy Ashkenas is a Graphics Editor at The New York Times.
          | He created the
          a(href='http://coffeescript.org/') CoffeeScript
          | programming language,
          a(href='http://backbonejs.org/') Backbone.js
          | and
          a(href='http://underscorejs.org/') Underscore.js
          | , among other open-source projects. He spent all of
          | 2013 on the road, and previously worked on DocumentCloud.org,
          | helping news organizations analyze and publish the primary source documents behind the news.

      li
        +speakerHeader('James Halliday', '/img/speakers/james-halliday.jpg', '')
        p
          | James is a unix philosopher and aspiring mad scientist.
          | He writes tiny open source libraries.
          | He co-founded
          a(href='https://browserling.com/') browserling
          | and
          a(href='http://ci.testling.com/') testling.com
          | and previously built
          | underwater robots in Alaska. He also draws silly cartoons and
          | sometimes they end up on t-shirts.

      li
        +speakerHeader('Forbes Lindesay', '/img/speakers/forbes-lindesay.jpg', '')
        p
          | An open source JavaScript developer working on projects like
          a(href='http://jade-lang.com/') jade
          | and
          a(href='https://github.com/ForbesLindesay/browserify-middleware') browserify-middleware
          | , currently working as a software
          | engineer at Red Gate.

      li
        +speakerHeader('Benoit Marchant', '/img/speakers/beonit-marchant.jpg', '')
        p
          | Benoit Marchant is a seasoned software engineer,
          | including 10 years at Apple. His work focuses on
          | bringing innovative, native-class, user experience
          | to web applications.  He created the open-source (BSD)
          a(href='http://montagejs.org/') MontageJS HTML5 Framework
          | to deliver mobile experiences
          | that match consumers’s expectations.

      li
        +speakerHeader('Julián Duque', '/img/speakers/julian-duque.jpg', '')
        p
          | Julian is a Developer by Passion, Support and Community
          | Evangelist at
          a(href='http://nodejitsu.com') Nodejitsu,
          | Co-Organizer of JSConf Colombia
          | and MedellinJS.

      li
        +speakerHeader('Federico Silva', '/img/speakers/federico-silva.png', '')
        p
          | In the 80's he used `goto`s, the 90's found him working with
          | objects and in this century he redeemed himself using extensively
          | javascript functions, what led him to learn more about the
          | functional programming paradigm.

      li
        +speakerHeader('James MacAulay', '/img/speakers/james-macaulay.png', '')
        p
          | James MacAulay has been designing and building software at
          a(href='http://www.shopify.com') Shopify
          | since 2007.
          | He was a core developer of
          a(href='http://batmanjs.org/') batman.js
          | and is responsible for much of its observable
          | property system and data structures.

      li
        +speakerHeader('Thorsten Lorenz', '/img/speakers/thorsten-lorenz.png', '')
        p
          | Thorsten have been working with nodejs and JavaScript for over 2 years mostly
          | in his spare time and lately full time at
          a(href='http://www.condenast.com/') Condé Nast.
          | The fast turnaround from idea to working module has proven addictive
          | for him and led to lots of modules which ended up on github and/or npm.
          | He also contribute to other awesome open source efforts like
          a(href='https://github.com/substack/node-browserify') browserify
          | to which he added source map support.

      li
        +speakerHeader('Andrey Listochkin', '/img/speakers/andrey-listochkin.jpeg', '')
        p
          | Andrey is a Russian-born software developer from Ukraine and a
          | senior architect at
          a(href='http://door3.com') DOOR3.
          | He's been building web applications
          | for more than seven years with a short break when he worked on a
          | mobile browser instead. He's an active member of the Ukrainian
          | frontend community and speaks at many local conferences and meetups.

      li
        +speakerHeader('Jean Carlo Nascimento', '/img/speakers/jean-nascimento.png', '')
        p
          | Jean Carlo Nascimento, aka “Suissa”, is an internet enthusiast since its
          | 10 years old. Is professional of web development for 9 years, today uses
          | HTML5, CSS3, AngularJS, Node.js and MongoDB. Is currently founder of
          | Webschool.io and Suissa Corp, also has personal projects such as
          a(href='http://javascriptbrasil.com') JavaScript Brasil,
          a(href='http://nodejsbrasil.com.br') NodeJS Brasil,
          a(href='http://nosqlbr.com.br') NoSQL Brasil,
          | among others.

      li
        +speakerHeader('Lenny Markus', '/img/speakers/lenny-markus.jpg', '')
        p
          | Lenny has been involved in technology in one way or another over
          | the last 15 years. He is a problem solver by nature and has spent
          | the last two years at PayPal working on a variety of interesting
          | challenges, trying to find elegant solutions that make life easier
          | for others. Ranging from developers technical support all the way to
          | leading company-wide efforts to evolve the technology stack, I always
          | mentor and try to raise the bar for all those around me.

      li
        +speakerHeader('Jú Gonçalves', '/img/speakers/ju-goncalves.jpg', '')
        p
          | Jú Gonçalves is currently a freelance Frontend Engineer and MSC
          | candidate in Computer Science. She likes to code and to discuss
          | about coding, specially JavaScript, functional paradigm and good
          | design choices. That's why she spends her free time coding some
          | new (yet another?) UI frameworks and playing around with
          | Facebook's React.

      li
        +speakerHeader('Zeno Rocha', '/img/speakers/zeno-rocha.jpg', '')
        p
          | Zeno Rocha used to work as a software developer at Petrobras
          | (the largest company in Latin America) and Globoesporte.com
          | (the most accessed sports website in Brazil), now he's a
          | front-end engineer at Liferay. Besides that, he's a writer at
          | Smashing Magazine, host at Zone Of Front-Enders podcast, member
          | of the Google Developer Expert program and co-founder of BrazilJS
          | Foundation. With only 23 years-old he's one of the top 30 most
          | active users on GitHub and a reference in Brazil when the subject
          | is front-end development.

      li
        +speakerHeader('Angel "Java" Lopez', '/img/speakers/angel-java-lopez.jpg', '')
        p
          | 35 years developing software. He worked with puch cards, IBM 360 Assembler,
          | JCL, CP/M, tapes and gigantic disks. From COBOL to RPG, then to PHP, JavaScript,
          | Java and C#. From Prolog to Lisp and Clojure. From DOS and Unix to Windows and
          | Linux. This century started to work in agile. For 4 years has been experimenting
          | with Node.JS. Writes open source projects in C# and JavaScript using TDD.

      li
        +speakerHeader('Leo Balter', '/img/speakers/leo-balter.jpg', '')
        p
          | A passionate developer for testing JS code, blues guitar and
          | video games. Whovian. QUnit contributor. Mozilla volunteer
          | on the Web Compatibility Team. Working and learning at
          | Estante Virtual.

      li
        +speakerHeader('Pablo Terradillos', '/img/speakers/pablo-terradillos.jpg', '')
        p
          | Pablo is a IT enthusiast and gamer since a very young age.
          | He works as a lead js developer making social games using
          | Javascript and HTML5 at the Argentinian company
          a(href='http://www.etermax.com') Etermax.
          | He is also member of the Mozilla's community,
          | sharing its vision of the open web. In his spare time,
          | he likes to experiment with FirefoxOS and mobile-related
          | web technologies.

      li
        +speakerHeader('Matias Woloski', '/img/speakers/matias-woloski.png', '')
        p
          | Matias Woloski is co-founder @ Auth0. He co-authored three books
          | about identity and cloud, organizes the Node.js Bootcamps and
          | spoke at various conferences. He loves crypto (really),
          | JavaScript and is an open source enthusiast.

      li
        +speakerHeader('Jose Romaniello', '/img/speakers/jose-romaniello.png', '')
        p
          | Jose Romaniello is the head of engineering @ Auth0. He is an open
          | source enthusiast, organizer of the Node.js Bootcamps and blogs
          | about code
          a(href='http://joseoncode.com/') here
          | .

      li
        +speakerHeader('Joe Pettersson', '/img/speakers/joe-pettersson.jpg', '')
        p
          | Joe's Lead of UI Engineering and a Senior Architect at McKinsey
          | &amp; Company, specifically at McKinsey Digital Labs. He's passionate
          | about user-interfaces, user-experiences and building kick-ass tools
          | and products. He's been writing JavaScript since the mid 1990's, and
          | has a passion for talking about it publically, to anyone who'll listen
          | (and frankly, also to those who usually won't). He's half Swedish and
          | half English, which means that while he loves herring, snow and flat-pack
          | furniture; he also never performs adequately at international football
          | tournaments.

      li
        +speakerHeader('Nick Desaulniers', '/img/speakers/nick-desauliniers.jpg', '')
        p
          | Nick Desaulniers is a young software engineer fighting for the
          | open web at Mozilla.
          | When Nick is not helping third party developers target Firefox OS,
          | he’s hacking on the Firefox OS Simulator, contributing to Rust,
          | or compiling C/C++ to JavaScript with Emscripten.
          | Nick is fond of learning numerous programming languages, just
          | in time compilation, and high performance JavaScript.

      li
        +speakerHeader('Pablo Cúbico', '/img/speakers/pablo-cubico.jpg', '')
        p
          | Pablo is a frontend &amp; UX developer from Rosario, Argentina.
          | He has been working with JS since many years and now he builds
          | UIs for a living.
          | He has been involved with Mozilla engaging developers from 2011,
          | in his spare time he likes to experiment alternative UI prototypes,
          | play music and mix crazy web art projects.

      li
        +speakerHeader('Fernando Briano', '/img/speakers/fernando-briano.jpg', '')
        p
          | Programmer at
          a(href='http://www.neo.com') Neo
          |, Ruby enthusiast coming from Java and PHP. He fights to learn
          | JavaScript and tries to absorb from the Scala, Clojure and
          | Python worlds.
          | He likes checking out new languages and frameworks all the time.
          | Mostly self-taught programmer, he believes in the Free Software
          | philosophy and thinks that proprietary operative systems don’t
          | deserve him as a user.
          | Fernando is also an avid blogger about programming, free software at
          a(href='http://picandocodigo.net') Picando Codigo

  .sponsors
    h2#sponsors Sponsors
    ul.sponsors-gold

    ul.sponsors-silver
      +sponsor('Globant', '/img/sponsors/globant.jpg', 'http://globant.com')
      +sponsor('GitHub', '/img/sponsors/github.png', 'http://github.com')
      +sponsor('Mozilla', '/img/sponsors/mozilla.png', 'http://mozilla.com')
      +sponsor('Automattic', '/img/sponsors/automattic.png', 'http://automattic.com')
    ul.sponsors-silver
      +sponsor('Neo', '/img/sponsors/neo.png', 'http://www.neo.com')
      +sponsor('NetSuite', '/img/sponsors/netsuite.png', 'http://netsuite.com')

    ul.sponsors-bronze
      +sponsor('Sophilabs', '/img/sponsors/sophilabs.jpg', 'http://sophilabs.com')
      +sponsor('Strongloop', '/img/sponsors/strongloop.jpg', 'http://strongloop.com')
      +sponsor('Infuy', '/img/sponsors/infuy.png', 'http://www.infuy.com')

    ul.sponsors-supporter
      +sponsor('Código del sur', '/img/sponsors/codigos_del_sur.png', 'http://codigodelsur.com')
      +sponsor('Jetbrains', '/img/sponsors/jetbrains.png', 'http://jetbrains.com')
      +sponsor('Shopify', '/img/sponsors/shopify.png', 'http://shopify.com')
      +sponsor('Auth0', '/img/sponsors/auth0.png', 'http://auth0.com')
      +sponsor('Suissa', '/img/sponsors/suissa.png', '')

    h3 Interested?
    .container
      .row
        .col-md-4.col-md-offset-4
          p Contact us at
            a(href='mailto:hola@jsconf.uy') hola@jsconf.uy

  .organizers
    h2#organizers Organizers
    ul.organizers-list
      +organizer('Pablo Ricco', '/img/organizers/pricco.jpeg', 'https://twitter.com/pricco')
      +organizer('Gabriel Chertok', '/img/organizers/cherta.jpeg', 'https://twitter.com/iamcherta')
      +organizer('Pablo Dejuan', '/img/organizers/pdejuan.jpeg', 'https://twitter.com/pdejuan')
      +organizer('Rodrigo Espinosa', '/img/organizers/espinosacurbelo.png', 'https://twitter.com/espinosacurbelo')
      +organizer('Luis Alberto Cal', '/img/organizers/lucho99.jpeg', 'https://twitter.com/_luisalbertocal')
      +organizer('Sebastian Sassi', '/img/organizers/sebauy.png', 'https://twitter.com/sebasuy')
      +organizer('Martin Prunell', '/img/organizers/MartinPrunell.jpeg', 'https://twitter.com/MartinPrunell')
  .venue
    h2#venue The venue
    h3 Antel Auditorium
    iframe(src='https://www.google.com/maps/ms?msa=0&msid=202962288982339632307.0004ed9e9e6f542a556aa&hl=en&ie=UTF8&ll=-34.891803,-56.194242&spn=0,0&t=m&output=embed')
