extends base
include mixins/sponsor
include mixins/speaker

block top
  .slider
    .slides
      img(src='/img/slider/montevideo.jpg', data-caption='JSConfUY<span>Montevideo - March 14th and 15th, 2014</span>')
      img(src='/img/slider/crockford.jpg', data-caption='<span>Starring Douglas Crockford</span>')
      img(src='/img/slider/antel.jpg', data-caption='<span>Torre de las Telecomunicaciones</span>')
    ul.thumbs
      li
        i.fa.fa-calendar
        span March 14th-15th, Montevideo
      li
        i.fa.fa-bullhorn
        span Douglas Crockford
      li
        i.fa.fa-map-marker
        span Antel Auditorium

block content
  .speakers
    h2#speakers Speakers
    h3 Meet the speakers
    ul.speakers-list
      li
        +speakerHeader('Douglas Crockford', '/img/speakers/douglas-crockford.jpg')
        p
          | Douglas Crockford is known as The JavaScript Guy. He’s famous not only for his 
          | O’Reilly book JavaScript: The Good Parts but even more so as the visionary behind 
          | the JSON data format as well as the JSLint tool.
      li
        +speakerHeader('Guillermo Rauch', '/img/speakers/guillermo-rauch.jpg', '')
        p
          | Guillermo is the creator of 
          a(href='http://socket.io/') socket.io
          | . Enthusiastic entepreneur, CTO and Founder of 
          a(href='https://cloudup.com/') Cloudup 
          |  and previously Co-founder of 
          a(href='https://www.learnboost.com') Learn Boost
          | .

      li
        +speakerHeader('Jeremy Ashkenas', '/img/speakers/jeremy-ashkenas.jpg', '')
        p
          | Jeremy Ashkenas is a Graphics Editor at The New York Times. 
          | He created the 
          a(href='http://coffeescript.org/') CoffeeScript 
          | programming language, 
          a(href='http://backbonejs.org/') Backbone.js 
          | and 
          a(href='http://underscorejs.org/') Underscore.js 
          | , among other open-source projects. He spent all of 
          | 2013 on the road, and previously worked on DocumentCloud.org, 
          | helping news organizations analyze and publish the primary source documents behind the news. 

      li
        +speakerHeader('James Halliday', '/img/speakers/james-halliday.jpg', '')
        p
          | James is a unix philosopher and aspiring mad scientist. 
          | He writes tiny open source libraries. 
          | He co-founded 
          a(href='https://browserling.com/') browserling 
          | and 
          a(href='http://ci.testling.com/') testling.com 
          | and previously built 
          | underwater robots in Alaska. He also draws silly cartoons and 
          | sometimes they end up on t-shirts.

      li
        +speakerHeader('Forbes Lindesay', '/img/speakers/forbes-lindesay.jpg', '')
        p
          | An open source JavaScript developer working on projects like 
          a(href='http://jade-lang.com/') jade 
          | and 
          a(href='https://github.com/ForbesLindesay/browserify-middleware') browserify-middleware
          | , currently working as a software 
          | engineer at Red Gate.

      li
        +speakerHeader('Benoit Marchant', '/img/speakers/beonit-marchant.jpg', '')
        p
          | Benoit Marchant is a seasoned software engineer, 
          | including 10 years at Apple. His work focuses on 
          | bringing innovative, native-class, user experience 
          | to web applications.  He created the open-source (BSD) 
          a(href='http://montagejs.org/') MontageJS HTML5 Framework 
          | to deliver mobile experiences 
          | that match consumers’s expectations. 

      li
        +speakerHeader('Julián Duque', '/img/speakers/julian-duque.png', '')
        p
          | Julian is a Developer by Passion, Support and Community 
          | Evangelist at 
          a(href='http://nodejitsu.com') Nodejitsu, 
          | Co-Organizer of JSConf Colombia 
          | and MedellinJS.

      li
        +speakerHeader('Federico Silva', '/img/speakers/federico-silva.png', '')
        p
          | En los 80s usaba `goto`s, en los 90s manipulaba objetos y en este siglo
          | se redimió revoleando funciones en javascript, lo cual lo impulsó a
          | aprender más sobre el paradigma funciona.

      li
        +speakerHeader('James MacAulay', '/img/speakers/james-macaulay.png', '')
        p
          | Shopify is a commerce platform that allows anyone to easily sell online, 
          | at their retail location, and everywhere in between. Shopify offers a 
          | professional online storefront, a payment solution to accept credit cards, 
          | and a point of sale system to power retail sales. For more information, visit 
          a(href='www.shopify.com') www.shopify.com
          | .

      li
        +speakerHeader('Thorsten Lorenz', '/img/speakers/thorsten-lorenz.png', '')
        p
          | I have been working with nodejs and JavaScript for over 2 years mostly 
          | in my spare time and lately full time at 
          a(href='http://www.condenast.com/') Condé Nast.
          | The fast turnaround from idea to working module has proven addictive 
          | for me and led to lots of modules which ended up on github and/or npm. 
          | I also contribute to other awesome open source efforts like 
          a(href='https://github.com/substack/node-browserify') browserify 
          | to which I added source map support.

      li
        +speakerHeader('Andrey Listochkin', '/img/speakers/andrey-listochkin.jpeg', '')
        p
          | Andrey is a Russian-born software developer from Ukraine and a 
          | senior architect at 
          a(href='http://door3.com') DOOR3. 
          | He's been building web applications 
          | for more than seven years with a short break when he worked on a 
          | mobile browser instead. He's an active member of the Ukrainian 
          | frontend community and speaks at many local conferences and meetups.

      li
        +speakerHeader('Jean Carlo Nascimento', '/img/speakers/jean-nascimento.png', '')
        p
          | Jean Carlo Nascimento, aka “Suissa”, is an internet enthusiast since its 
          | 10 years old. Is professional of web development for 9 years, today uses 
          | HTML5, CSS3, AngularJS, Node.js and MongoDB. Is currently founder of 
          | Webschool.io and Suissa Corp, also has personal projects such as 
          a(href='http://javascriptbrasil.com') JavaScript Brasil, 
          a(href='http://nodejsbrasil.com.br') NodeJS Brasil, 
          a(href='http://nosqlbr.com.br') NoSQL Brasil, 
          | among others.


  .sponsors
    h2#sponsors Sponsors
    ul.sponsors-g
      
    ul.sponsors-s
      +sponsor('Globant', 'img/sponsors/globant.jpg', 'http://globant.com')
      +sponsor('GitHub', 'img/sponsors/github.png', 'http://github.com')
      +sponsor('Mozilla', 'img/sponsors/mozilla.png', 'http://mozilla.com')
      +sponsor('Automattic', 'img/sponsors/automattic.png', 'http://automattic.com')

    ul.sponsors-b
      +sponsor('Sophilabs', 'img/sponsors/sophilabs.jpg', 'http://sophilabs.com')
      +sponsor('Strongloop', 'img/sponsors/strongloop.jpg', 'http://strongloop.com')

    ul.sponsors-sp
      +sponsor('Código del sur', 'img/sponsors/codigos_del_sur.png', 'http://codigodelsur.com')
      +sponsor('Jetbrains', 'img/sponsors/jetbrains.png', 'http://jetbrains.com')
      +sponsor('Shopify', 'img/sponsors/shopify.png', 'http://shopify.com')

    h3 Interested?
    .container
      .row
        .col-md-4.col-md-offset-4
          p Contact us at 
            a(href='mailto:hola@jsconf.uy') hola@jsconf.uy
  .venue
    h2#venue The venue
    h3 Antel Auditorium
    iframe(src='https://www.google.com/maps/ms?msa=0&msid=202962288982339632307.0004ed9e9e6f542a556aa&hl=en&ie=UTF8&ll=-34.891803,-56.194242&spn=0,0&t=m&output=embed')
