doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  body
    .container
      .navbar.navbar-default
        .navbar-header
          a.navbar-brand(href='/') JS Conf Uruguay
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/venue') Venue
            li
              a(href='/') Register
            li
              a(href='/speakers') Speakers
            li
              a(href='/proposals/new') Proposals

      - if(messages.info || messages.error || messages.success)
        .row
          .col-lg-12
            - if (messages.info)
              .alert.alert-info
                = messages.info
            - if (messages.error)
              .alert.alert-danger
                = messages.error
            - if (messages.success)
              .alert.alert-success
                = messages.success

      .row  
        .col-lg-12
          block content
      footer.row
        .col-lg-4.col-md-offset-8
          a(href='/admin') Admin Area
          &nbsp;
          a(href='/speakers/me') Speaker Area