doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  body
    .container
      .navbar.navbar-default
        .navbar-header
          a.navbar-brand(href='/') JS Conf Uruguay
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/venue') Venue
            li
              a(href='/') Register
            li
              a(href='/speakers') Speakers
            li
              a(href='/proposals') Proposals
      .row
        .col-lg-12
          block content
      footer.row
        .col-lg-2.col-md-offset-10
          a(href='/admin/speakers') Speaker Area