extends base

block content
  .proposal
    h2 Submit your proposal
    .container
      .row
        .col-md-6
          form(action='', method='post')
            .field
              label Topic
              input(type='text', name='topic', placeholder='Topic of your talk')
            .field
              label Name
              input(type='text', name='name', placeholder='Your name')
            .field
              label Email
              input(type='email', name='e-mail', placeholder='Your e-mail')
              .clearfix
            .field
              label Residence
              input(type='text', name='residence', placeholder='In case you get selected we need to buy you tickets')
            .field
              lable Summary
              textarea(name='summary', placeholder='Please add a summary of your talk here. If you have online material please add it here too.')
            .field
              label Can your company pay for your travel and/or stay
              input(type='checkbox', value='yes', name='company_pays')
            .action
              input(type='submit', value='Submit Proposal', name='submit')
        .col-md-6
          p Text
