extends page

block page 
  h1 Submit your proposal
  .border-bottom-gray.margin-top24.margin-bottom24.border-box
  #proposals.container
    .row
      .col-md-6
        h3.block.margin-bottom36.font-weight300 Submit a Proposal
        .contact_form_wrapper.margin-bottom48.margin-right24
          form(action='/proposals', method='post' id='new-proposal')
            .field_wrapper.fullwidth.margin-bottom12.relative
              .title.border-box
                .vert_align_wrap_system.red-background.block
                  div
                    div Title
              input.input_field.border-box.block.background-color-passive(type='text', name='topic', placeholder='Topic of your talk')
              .clearfix
            .field_wrapper.fullwidth.margin-bottom12.relative
              .title.text-center.border-box
                .border-box.red-background.padding-top12 Summary
              textarea.textarea_field.border-box.block.background-color-passive(name='summary', placeholder='Please add a summary of your talk here. If you have online material please add it here too.')
              .clearfix
            .field_wrapper.fullwidth.margin-bottom12.relative
              .title.border-box
                .vert_align_wrap_system.red-background.block
                  div
                    div Name
              input.input_field.border-box.block.background-color-passive(type='text', name='name', placeholder='Your name')
              .clearfix
            .field_wrapper.fullwidth.margin-bottom12.relative
              .title.border-box
                .vert_align_wrap_system.red-background.block
                  div
                    div E-mail
              input.input_field.border-box.block.background-color-passive(type='text', name='email', placeholder='Your e-mail')
              .clearfix
            .field_wrapper.fullwidth.margin-bottom12.relative
              .title.border-box
                .vert_align_wrap_system.red-background.block
                  div
                    div Residence
              input.input_field.border-box.block.background-color-passive(type='text', name='residence', placeholder='In case you get selected we need to buy you tickets')
              .clearfix
            .field_wrapper.fullwidth.margin-bottom12.relative
              .title.border-box
                .vert_align_wrap_system.red-background.block
                  div
                    div Notes
              input.input_field.border-box.block.background-color-passive(type='text', name='notes', placeholder='Anything else you would like to mention')
              .clearfix
              div(style='text-align: right; margin-bottom: 20px;')
              | Can your company pay for your travel and/or stay
              input(type='checkbox', value='yes', name='companyPays')
            input.submit_button.red-background.pull-right(type='submit', value='Submit Proposal', name='submit')
            .clearfix
      .col-md-6.text-left
        p.block.margin-bottom24
          | We are inviting the JavaScript community to submit talks for the upcoming JSConf UY This Call for Proposals closes on January 17th.
          |Feel free to propose some great guy or topic too!
        p.block.margin-bottom12
          | To get a feel for what we are interested in hearing about please take a look on the programmes of other JSConf's. Some ideas & topics may include (not in order of importance):
          ul
            li State of the art in JavaScript technology, or computer science in general, if somehow applicable to JavaScript.
            li Server-side JS.
            li HTML/CSS.
            li Mobile JS.
            li JavaScript based technologies.
            li Embedded and Hardware JS.
            li Optimized graphics for JavaScript.
            li Improving JavaScript developers' lives, making development more awesome.
            li The JavaScript community, past, present & future.
            li Whatever you think it suits.
        p.block.margin-bottom12
          |If you have any questions please get in touch: hola@jsconf.uy (please don't use this email to submit a proposal, use the form).
        h3.block.margin-bottom24.font-weight300 The Perks of being a speaker
        p.block.margin-bottom12
          |If you get selected as a speaker at JSConf UY, here's what you get:
          ul
            li <b>We cover your stay in Montevideo </b> in a nice hotel (including free Wifi) for the days of the conference two nights before and one after. If you want to stay longer, we can arrange things, just let us know. You will have to cover extra nights, though. If your employer can cover your travel and hotel, we are happy to list them as an awesome company sponsor. The money we save will be used to make a better conference. 
            li <b>Travel to Montevideo covered.</b> This usually means we pay for your plane/ferry. We are happy to assist with booking your itinerary. 
            li <b>Entrance to the conference.</b> If you get selected to speak and if you need to, we can refund your ticket, but if you don't, we can spend more money on making the conference more awesome.
            li <b>Speakers' dinner.</b> All speakers are invited to taste several Uruguayan delicatessen in a proper dinner the evening before the event.
            li <b>An awesome t-shirt</b> that says I spoke at the first JSConf UY!
        p.block.margin-bottom12
          If you have any special requirements just let us know. If you want to bring a significant other, or bring your kid(s) and need child-care to be sorted out for the time of the conference, please also get in touch. We are glad to help!
        h3.block.margin-bottom24.font-weight300 The Selection Process
        p.block.margin-bottom12
          |Here's roughly how we pick our talks:
          ul
            li Anonymize submissions, so we don’t bias against anything related to the submitting person.
            li Two rounds of voting:
            li The first round rates each talk on a scale from 1 to 5.
            li The submissions are rated again on a 3-point scale: “fair”, “good”, “MUST HAVE”.
            li De-anonymize so we can finally bias against speaker details. Based on our budget, we might opt for a local or at least closer-by (read: cheaper to transport) speaker.
        p.block.margin-bottom24
          | We expect many excellent submissions for the speaking slots. This process helps us to select the right ones and play nice.
        h3.block.margin-bottom24.font-weight300 Guidelines for proposals
        p.block.margin-bottom12
          | Submit your proposal by <b>Jan 17th 2014, 23:59:59 UYT(GMT-3).</b>
        p.block.margin-bottom12
          | Talks may be in <b>English or Spanish</b>. Please choose the language you feel more comfortable with.
        p.block.margin-bottom12
          | <b>Your talk may take 30 minutes</b> (contact us if you need to talk longer). There is no additional Q&A section. There will be plenty of time during the breaks for further discussion of topics. We will enforce the end of a talk rigorously, therefore we strongly recommend timing your presentation in advance.
        p.block.margin-bottom12
          | <b>Make a nice submission,</b> and make sure we see you care about it. Avoid typos, sloppy formatting and all-lowercase text. Be concise: If you need more than two paragraphs to get to the point of your topic, it is likely you won’t make it in 30 minutes. Please make our reading of your proposal straightforward.
        p.block.margin-bottom12
          | <b>Original Topics.</b> We favour original content. If you want to discuss a topic that you have talked about elsewhere, try to add a twist, or new research, or development, something unique. Please bear in mind that we want this conference to be enjoyable for everyone, therefore we expect you to adhere to the JSConf code of conduct. And of course, if your talk is plain awesome as-is,  just go for it!