extends base
block content
  .schedule
    h2 Schedule
    .container
      .row
        .col-md-8.col-md-offset-2
          table
            thead
              tr
                th
                th(colspan="2") March 14th
                th
              tr
                th
                th Talks
                th Workshops
                th
            tbody
              tr
                td.time 13:00
                td.full(colspan="2") Registration
                td.time 13:00
              tr
                td.time 13:00
                td.full(colspan="2") Opening
                td.time 13:00
              tr
                td.time 13:00
                td.empty Talk #1
                td.empty(rowspan=2) Empty
                td.time 13:00
              tr
                td.time 13:00
                td
                td.time 13:00

