body {
  color: #444;
  font-family: 'dosisextralight';
  letter-spacing: 0.4px;
  font-size: 22px;
  line-height: 34px;
  background: #fff;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'dosisextralight';
  font-size: 60px;
  line-height: 60px;
  color: #444;
  font-weight: 100;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 120px 0 0 0;
  font-family: 'chunkfiveroman';
  font-size: 48px;
  line-height: 48px;
  color: #444;
  font-weight: 800;
  text-align: center;
}

h2::after {
  width: 30%;
  content: "";
  border-top: 1px solid #8D8E8D;
  margin: 24px auto;
  display: block;
}

h2 > span {
  font-family: 'chunkfiveroman';
}

h3 {
  margin: 0;
  padding: 0;
  font-family: 'dosisextralight';
  font-size: 30px;
  line-height: 36px;
  color: #444;
  font-weight: 100;
  text-align: center;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: 'dosisextralight';
  font-size: 24px;
  line-height: 24px;
  color: #444;
  font-weight: 100;
}

h5 {
  margin: 0;
  padding: 0;
  font-family: 'dosisextralight';
  font-size: 20px;
  line-height: 20px;
  color: #444;
  font-weight: 100;
}

h6 {
  margin: 0;
  padding: 0;
  font-family: 'dosisextralight';
  font-size: 13px;
  line-height: 13px;
  color: #444;
  font-weight: 100;
  letter-spacing: 3px;
}

a {
  color: #3498db;
  transition: 0.3s;
  text-decoration: none;
}

b {
  color: #3498db;
}

a:hover {
  color: #5dade2;
  text-decoration: none;
}

input[type=text],
input[type=email],
textarea {
  color: #999999;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  color: #000;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Header*/

header {
  height: 0;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  header.sticky nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  }
}

.navbar {
  border: none;
  background-color: #fff;
  margin-bottom: 0;
}

.navbar .navbar-brand {
  padding: 6px;
}

.navbar .navbar-brand img {
  display: block;
  width: 70px;
}

.navbar .navbar-nav > li > a {
  padding: 10px 10px;
  font-size: 18px;
  line-height: 30px;
  color: #444;
}

.navbar .navbar-nav > li.buy-tickets > a {
  background: #F6F6F6;
}

@media (min-width: 768px) {
  .navbar .navbar-nav > li > a {
    padding: 26px 16px;
  }
}

.navbar .navbar-nav > li > a:hover {
  color: #5dade2;
  background-color: #fff;
}

.navbar-toggle {
  margin-top: 24px;
  border: 0;
  border-radius: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #5dade2;
}

.navbar-toggle .icon-bar {
  background-color: #3498db;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}

footer {
  color: #cecece;
  background: #282828;
  font-size: 18px;
}

footer h3 {
  margin: 30px 0 20px 0;
  color: #fff;
  text-align: left;
}

footer .last {
  border-top: 1px solid #dadada;
  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

footer .last a {
  color: #ffffff;
}

footer .last ul {
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  footer .last {
    text-align: left;
  }

  footer .last ul {
    text-align: right;
  }
}

footer .last ul li {
  display: inline-block;
  padding: 4px 0 4px 20px;
  margin: 0;
}

footer input[type=email] {
  outline: none;
  width: 70%;
  height: 45px;
  font-size: 16px;
  line-height: 16px;
  padding: 0 12px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  float: left;
  background-color: #ceced0;
}

footer input[type=submit] {
  outline: none;
  height: 45px;
  width: 30%;
  display: block;
  float: left;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background: #3498db;
  transition: 0.3s;
  border: none;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer input[type=submit]:hover,
footer input[type=submit]:focus {
  background: #5dade2;
}

/* Slider */

.slider {
  min-height: 100%;
}

.fotorama__caption {
  bottom: 20%;
  width: auto;
  background: transparent;
}

.fotorama__caption__wrap {
  font-family: 'chunkfiveroman';
  background: transparent;
  width: 100%;
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}

.fotorama__caption__wrap span {
  display: block;
  font-family: 'dosisextralight';
  text-align: center;
  font-size: 34px;
  line-height: 40px;

}

@media (min-width: 768px) {
  .fotorama__caption__wrap {
    font-size: 130px;
    line-height: 130px;
  }

  .fotorama__caption__wrap span {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: 992px) {
  .fotorama__caption__wrap {
    font-size: 190px;
    line-height: 190px;
  }

  .fotorama__caption__wrap span {
    font-size: 74px;
    line-height: 80px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }
}

ul.thumbs {
  display: table;
  left: 5%;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  margin-top: -90px;
  background-color: #fff;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

ul.thumbs li {
  display: table-cell;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

ul.thumbs li:last-child {
  border-right: 0;
}

ul.thumbs li:hover,
ul.thumbs li:focus {
  background: #C7C9C4;
}

ul.thumbs li.active {
  background-color: #5dade2;
  color: #fff;
}

ul.thumbs li i {
  display: block;
  height: 64px;
  width: 100%;
  line-height: 64px;
  text-align: center;
  font-size: 36px;
}

ul.thumbs li span {
  display: none;
}

@media (min-width: 992px) {
  ul.thumbs li span {
    display: block;
    margin-left: 80px;
    padding: 0 10px 0 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  ul.thumbs li i {
    float: left;
    width: 80px;
  }
}

/* Speakers */

.speakers {

}

.speakers h3 {
  margin-bottom: 50px;
}

.speakers ul {
  display: block;
  margin: 10px 30px;
  padding: 0;
}

.speakers li {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  -webkit-transform: translateY(30px);
     -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
       -o-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 750ms;
     -moz-transition: all 750ms;
      -ms-transition: all 750ms;
       -o-transition: all 750ms;
          transition: all 750ms;
}

.speakers li.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.speakers li.divider {
  display: block;
  content: "";
  height: 60px;
  margin: 10px auto;
  width: 0;
  border-left: 1px dashed #1D1E1E;
}

.speakers .buy {
  padding: 22px 0 16px;
  text-align: center;
  width: 220px;
  display: block;
  font-family: 'chunkfiveroman';
  margin: 40px auto 0;
  font-size: 26px;
  line-height: 16px;
  color: #fff;
  background: #3498db;
  transition: 0.3s;
  border: none;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.speakers .buy:hover {
  background: #5dade2;
}

@media (min-width: 992px) {
  .speakers li {
    display: table;
    width: 100%;
  }

  .speakers li > div:first-child {
    text-align: right;
  }

  .speakers li > div:last-child {
    text-align: left;
  }

  .speakers .name,
  .speakers .description {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
  }

  .speakers .image {
    width: 20%;
    display: table-cell;
    vertical-align: middle;
  }
}

.speakers .name,
.speakers .description,
.speakers .image {
  text-align: center;
}

.speakers .name a {
  display: block;
  margin: 2px 0;
}

.speakers .image img,
.speakers .image span {
  margin: auto auto;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.speakers .image span {
  border: 1px dashed #1D1E1E;
}

.sponsors h3 {
  margin: 80px 0 40px 0;
}

.sponsors ul {
  list-style: none;
  margin: -50px auto;
  padding: 0;
  text-align: center;
}

.sponsors ul li {
  display: inline-block;
  height: 240px;
  margin: 0 12px;
  overflow: hidden;
  padding: 5px;
  width: 240px;
}

.sponsors .sponsors-gold li{line-height: 280px; height: 280px; width: 280px;}
.sponsors .sponsors-silver li{line-height: 240px; height: 240px; width: 240px;}
.sponsors .sponsors-bronze li{line-height: 180px; height: 180px; width: 180px;}
.sponsors .sponsors-supporter li{line-height: 140px; height: 140px; width: 140px;}

.sponsors ul li a {
  display: block;
}

.sponsors ul li a img {
  -webkit-transform: translateY(30px);
     -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
       -o-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 750ms;
     -moz-transition: all 750ms;
      -ms-transition: all 750ms;
       -o-transition: all 750ms;
          transition: all 750ms;
  opacity: 0;
  width: 100%;
}

.sponsors ul li.active a img {
  opacity: 1;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.sponsors ul li:hover a img{
  -webkit-transform: translateY(-20px);
     -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
       -o-transform: translateY(-20px);
          transform: translateY(-20px);
}

.sponsors p {
 text-align: center;
}

.venue iframe {
  display: block;
  margin: 20px 0 0 0;
  border: none;
  width: 100%;
  height: 550px;
}

.proposals h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.proposals form  {
  display: block;
  text-align: left;
}

.proposals form .field label {
  margin: 20px 0 4px 0;
  display: block;
}

.proposals form .field .note {
  margin: 0 0 6px 0;
  display: block;
  line-height: 15px;
  font-size: 15px;
}

.proposals form .field .error {
  margin: 4px 0 6px 0;
  display: block;
  color: #DF6A63;
  line-height: 16px;
  font-size: 16px;
}

.proposals form .field input[type=text],
.proposals form .field input[type=email],
.proposals form .field textarea {
  height: 40px;
  width: 100%;
  margin: 0;
  font-family: 'dosisextralight';
  font-size: 16px;
  line-height: 16px;
  color: #000;
  background: #ceced0;
  padding: 12px;
  border: 0;
  transition: background-color 300ms;
}

.proposals form .field textarea {
  height: 100px;
  max-width: 100%;
}

.proposals form .field input[type=text]:focus,
.proposals form .field input[type=email]:focus,
.proposals form .field textarea:focus {
  color: #000;

}

.proposals form .action {
  margin: 20px 0 40px 0;
  text-align: center;
}

.proposals form input[type=checkbox]{
  margin-right: 5px;
}

.proposals form .action input {
  outline: none;
  padding: 15px;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background: #3498db;
  transition: 0.3s;
  border: none;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.proposals form .action input:hover,
.proposals form .action input:focus {
  background: #5dade2;
}

.thanks {
  text-align: center;
  margin: 0 0 80px 0;
}

.thanks p {
  margin: 20px 0 0 0;
}

.hotels {
  margin-bottom: 40px;
}

.hotels .hotel-header {
  height: 120px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hotels .hotel-header img {
  min-width: 100%;
  pointer-events: none;
  position: absolute;
}

.hotels .hotel-header h3 {
  bottom: 0;
  color: white;
  font-size: 2em;
  position: absolute;
  text-shadow: 1px 1px 4px #000;
  text-align: center;
  width: 100%;
}

.hotels tfoot {
  text-align: right;
}

.code {
  margin-bottom: 40px;
}

/** ===================================|
 *           speakers                  |
 *  ===================================|
 */
.speakers-list {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.speakers-list li {
  display: inline-block;
  margin: 0 40px 40px 40px;
  vertical-align: top;
  width: 200px;
}

.speakers-list li h5,
.speakers-list li h6 {
  font-size: 23px;
  color: #333;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.speakers-list li h5 {
  height: 68px;
  font-weight: 600;
  margin-top: 40px;
  padding: 0;
  line-height: 25px;
}

.speakers-list li img {
  border-radius: 200px;
  display: block;
  height: 200px;
  margin: auto auto;
  width: 200px;
}

.speakers-list li p {
  color: #333;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  word-wrap: break-word;
  word-spacing: 1px;
  line-height: 22px;
}
/** ===================================|
 *           speakers                  |
 *  ===================================|
 */
.organizers-list {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.organizers-list li {
  display: inline-block;
  margin: 0 40px 40px 40px;
  vertical-align: top;
  width: 150px;
}

.organizers-list li h5 {
  height: 68px;
  font-weight: 600;
  margin-top: 40px;
  padding: 0;
  line-height: 25px;
}

.organizers-list li img {
  border-radius: 120px;
  display: block;
  height: 120px;
  margin: auto auto;
  width: 120px;
}


/********************
    agenda Page
********************/

.agenda {
  margin-bottom: 40px;
}

.agenda table {
  width: 100%;
  font-size: 20px;
}

.agenda table th {
  font-family: 'chunkfiveroman';
}

.agenda table th,
.agenda table td {
  padding: 6px;
  vertical-align: top;
}

.agenda table th {
  text-align: center;
}

.agenda table td.time {
  width: 60px;
}

.agenda table td:first-child {
  text-align: left;
}

.agenda table td:last-child {
  text-align: right;
}

.agenda table .full {
  text-align: center;
}

.agenda table .pictures img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin: 1px 0;
}

.agenda table .talk .pictures,
.agenda table .keynote .pictures {
  float: left;
  width: 32px;
}

.agenda table .workshop .pictures {
  float: right;
  width: 32px;
}

.agenda table .talk h3,
.agenda table .keynote h3 {
  text-align: left;
  font-size: 20px;
  margin: 0 0 0 40px;
}

.agenda table .workshop h3 {
  text-align: right;
  font-size: 20px;
  margin: 0 40px 0 0;
}

.agenda table .break {
  background-color: #f6f6f6;
}

.agenda table .keynote {
	background-color: rgba(93, 173, 226, 0.4);
}

.agenda table .workshop {
	background-color: rgba(197, 243, 255, 0.4);
}

.agenda table .workshop.active {
  -webkit-box-shadow: -5px -4px 0 0px rgba(0, 0, 0, .3);
     -moz-box-shadow: -5px -4px 0 0px rgba(0, 0, 0, .3);
       -o-box-shadow: -5px -4px 0 0px rgba(0, 0, 0, .3);
          box-shadow: -5px -4px 0 0px rgba(0, 0, 0, .3);
}

.agenda table .talk p,
.agenda table .keynote p,
.agenda table .workshop p {
  text-align: left;
  font-size: 20px;
  margin: 0 0 0 40px;
}
