@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);

@font-face {
    font-family: 'entypo-social';
    src: url('../font/entypo-social.eot');
    src: url('../font/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../font/entypo-social.woff') format('woff'),
         url('../font/entypo-social.ttf') format('truetype'),
         url('../font/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    overflow: hidden;
}

header {
    top: 0;
    left: 50px;
    position: fixed;
    z-index: 50;
    width: 180px;
    height: 180px;
}

header img {
    width: 180px;
    height: 180px;
    display: block;
}

footer {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 50;
}

footer p {
    font-family: 'Open Sans', Arial, serif;
    font-weight: 600; 
    color: #ffffff;
    font-size: 160%;
    text-shadow: 0 1px 0 #999;
}

footer ul {
    width: 100%;
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    display: table-cell;
    text-align: center;
}

footer ul li a {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    vertical-align: middle;
    background: #5CC4EC;
    color: #fff;
    font-family: 'entypo-social';
    font-weight: normal;
    text-decoration: none;
    font-size: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.background div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    background-image: url(../img/background.jpg);
    opacity: 1;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: show 1s linear, rotate 50s linear infinite 1s;
    -moz-animation: show 1s linear, rotate 50s linear infinite 1s;
    -o-animation: show 1s linear, rotate 50s linear infinite 1s;
    -ms-animation: show 1s linear, rotate 50s linear infinite 1s;
    animation: show 1s linear, rotate 50s linear infinite 1s;
}

@-webkit-keyframes show {
    0% {
        opacity: 0.5;
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
}
@-moz-keyframes show {
    0% {
        opacity: 0.5;
        -moz-animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
}
@-o-keyframes show {
    0% {
        opacity: 0.5;
        -o-animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
}
@-ms-keyframes show {
    0% {
        opacity: 0.5;
        -ms-animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
}
@keyframes show {
    0% {
        opacity: 0.5;
        animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
}


@-webkit-keyframes rotate {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    25% {
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    75% {
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
}
@-moz-keyframes rotate {
    0% {
        opacity: 1;
        -moz-transform: scale(1.05);
    }
    25% {
        opacity: 1;
        -moz-transform: scale(1.3);
    }
    75% {
        opacity: 0;
        -moz-transform: scale(1.3);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1.05);
    }
}
@-o-keyframes rotate {
    0% {
        opacity: 1;
        -o-transform: scale(1.05);
    }
    25% {
        opacity: 1;
        -o-transform: scale(1.3);
    }
    75% {
        opacity: 1;
        -o-transform: scale(1.3);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1.05);
    }
}
@-ms-keyframes rotate {
    0% {
        opacity: 1;
        -ms-transform: scale(1.05);
    }
    25% {
        opacity: 1;
        -ms-transform: scale(1.3);
    }
    75% {
        opacity: 1;
        -ms-transform: scale(1.3);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1.05);
    }
}
@keyframes rotate {
    0% {
        opacity: 1;
        transform: scale(1.05);
    }
    25% {
        opacity: 1;
        transform: scale(1.3);
    }
    75% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(1.05);
    }
}
