extends ../layout/layout
include ../mixins/_forms

block content
  
  h1 New Proposal
  
  +bootstrap_form('/proposals', 'post', error)(role='form')
    
    +bootstrap_field('proposal', 'topic', '* Topic')
    
    +bootstrap_field('proposal', 'summary', '* Summary')(type='textarea')
    
    +bootstrap_field('proposal', 'name', '* Name')
    
    +bootstrap_field('proposal', 'email', '* Email')
    
    +bootstrap_field('proposal', 'city', '* City')
    
    +bootstrap_field('proposal', 'country', 'Country')
    
    +bootstrap_field('proposal', 'twitterUrl', 'Twitter Url')
    
    +bootstrap_field('proposal', 'githubUrl', 'Github Url')
    
    +bootstrap_field('proposal', 'blogUrl', 'Blog Url')
        
    .checkbox
      input(type='checkbox' name='companyPays' )
      label(for='companyPays') My company can pay for my travels and hotel
        
      
    +bootstrap_default_action('Submit Proposal')