footer.clearfix
  .footer_wrapper.solid_box
    .container.text-left
      .col-md-4
        .info_widget.margin-bottom36.margin-right20
          h3.margin-bottom24.font-weight200.letters-white Additional Information
          p.margin-bottom24
            | Pleae feel free to contact us at 
            a(href='mailto:hola@jsconf.uy') hola@jsconf.uy
            |  we are glad to help with the trips, the location and with general rules about getting to the country.
      .col-md-4
        .info_widget.margin-bottom36.margin-right10.margin-left10
          h3.margin-bottom24.font-weight200.letters-white Who we are?
          p
            | Pablo Ricco, Gabriel Chertok, Pablo Dejuan, Martin Prunell, Sebastian Sassi, Luis Alberto Cal, Rodrigo Espinosa
      .col-md-4
        div
          .newsletter_sign_up.newsletter_widget.margin-bottom30
            h3.font-weight200.margin-bottom24.letters-white Stay In Touch
            form(action='http://jsconf.us7.list-manage.com/subscribe/post?u=522df5bbc3b97d9e5f5c16fe0&amp;id=7f258c3ebb', method='post')
              input.input_field.background-color-passive(type='text', name='EMAIL', placeholder='E-mail address')
              input.submit_button.red-background(type='submit', value='Subscribe')
              .clearfix
      .clearfix
      .small_separator
      .copyright.pull-left.margin-bottom24.font-weight600.letter-spacing2
        | 2014
        a.font-weight600(href='http://www.meetup.com/mvd-js/') The Montevideo Javascript Meetup Group
      .footer_nav_solid.pull-right.margin-bottom24.font-weight200.margin-top24
        ul.margin0.no-style
          li
            a(href='/') Home
          li
            a(href='https://plus.google.com/JsConfUy+') Google+
          li
            a(href='https://twitter.com/JsConfUy') Twitter
          li
            a(href='https://www.facebook.com/JsConfUy') Facebook
        .clearfix

