header.clearfix
  nav
    .navigation-tab.text-right
      .relative
        a.logo.block(href='/')
          img(src='img/logo.png', alt='JSConf Uruguay')
          | Uruguay
        .main-nav-wrap
          ul.margin0.padding0.no-style.navigation-panel.text-left.inline-block
            li
              a(href='/#index') Home
            li
              a(href='/#speakers') Speakers
            //li
              a(href='#sponsors') Sponsors
            li
              a(href='/#venue') Venue
            li
              a(href='https://tito.io/jsconfuy/2014') Buy Tickets
            li
              a(href='/proposals') Call for Proposal
        .clearfix

