#speakers.padding-top72.padding-bottom72.col-md-12
  h2 Speakers
  .border-bottom-gray.margin-top24.margin-bottom24.border-box
  .text-caption Meet the speakers
  .testimonials-wrapper.relative.margin-top72
    .border-dotted-testimonials
    .testimonial-block.relative
      .display-table.testimonial-bottom-spacing
        .table-row
          .table-cell.description.text-right
            | Douglas Crockford is an American computer programmer and entrepreneur who is best known for his ongoing involvement in the development of the JavaScript language, for having popularized the data format JSON (JavaScript Object Notation).
          .table-cell.image-round-wrap.border-box.relative
            img.image-rounded(src='img/speakers/douglas-crockford.jpg', alt='Douglas Crockford')
          .table-cell.position-name-wrap.text-left.border-box.relative
            a(href='http://www.crockford.com/') Douglas Crockford
            a(href='http://www.paypal.com') Paypal
      .display-table.testimonial-bottom-spacing
        .table-row
          .table-cell.position-name-wrap.text-right.border-box.relative
            a(href='http://www.devthought.com/') Guillermo Rauch
            a(href='https://cloudup.com/') Cluodup
          .table-cell.image-round-wrap.border-box.relative
            img.image-rounded(src='img/speakers/guillermo-rauch.jpg', alt='Guillermo Rauch')
          .table-cell.description.text-left Guillermo is the creator of 
            a(href='http://socket.io/') socket.io
      .display-table.testimonial-bottom-spacing
        .table-row
          .table-cell.description.text-right
            a(href='/proposals') Submit your proposal.
          .table-cell.image-round-wrap.border-box.relative
            div.image-rounded
          .table-cell.position-name-wrap.text-left.border-box.relative
            a(href='/proposals') You
    .clearfix
.clearfix

