#sponsors.white-letters-inside.padding-top72.padding-bottom72.col-md-12
  h2 Our Sponsors
  .border-bottom-white.margin-top24.margin-bottom24.border-box
  .text-caption
    | This conference is also possible thanks to these companies
  .container.inline-block.margin-top72.margin-bottom72.text-center.border-box
    .port-hex-wrap
      .hex-offset.hexagon.hexagon.pull-left
        .hexagon-in1
          .hexagon-in2.first-element
            .hover-effect.red-background
              .table-row.full-width-container
                .table-cell.full-width-container
                  h4.letters-white Microsoft
                  .border-bottom-white.margin-top24.margin-bottom24.border-box
                  .text-caption.letters-white
      .hexagon.hexagon.pull-left
        .hexagon-in1
          .hexagon-in2.second-element
            .hover-effect.red-background
              .table-row.full-width-container
                .table-cell.full-width-container
                  h4.letters-white Google
                  .border-bottom-white.margin-top24.margin-bottom24.border-box
                  .text-caption.letters-white
      .hexagon.hexagon.pull-left
        .hexagon-in1
          .hexagon-in2.third-element
            .hover-effect.red-background
              .table-row.full-width-container
                .table-cell.full-width-container
                  h4.letters-white NetSuite
                  .border-bottom-white.margin-top24.margin-bottom24.border-box
                  .text-caption.letters-white
      .hexagon.hexagon.pull-left
        .hexagon-in1
          .hexagon-in2.fourth-element
            .hover-effect.red-background
              .table-row.full-width-container
                .table-cell.full-width-container
                  h4.letters-white Globant
                  .border-bottom-white.margin-top24.margin-bottom24.border-box
                  .text-caption.letters-white
      .hexagon.hexagon.pull-left
        .hexagon-in1
          .hexagon-in2.fifth-element
            .hover-effect.red-background
              .table-row.full-width-container
                .table-cell.full-width-container
                  h4.letters-white Infuy
                  .border-bottom-white.margin-top24.margin-bottom24.border-box
                  .text-caption.letters-white
      .hexagon.hexagon.pull-left
        .hexagon-in1
          .hexagon-in2.sixth-element
            .hover-effect.red-background
              .table-row.full-width-container
                .table-cell.full-width-container
                  h4.letters-white Sophilabs
                  .border-bottom-white.margin-top24.margin-bottom24.border-box
                  .text-caption.letters-white
      .hexagon.hexagon.pull-left
        .hexagon-in1
          .hexagon-in2.seventh-element
            .hover-effect.red-background
              .table-row.full-width-container
                .table-cell.full-width-container
                  h4.letters-white Jet Brains
                  .border-bottom-white.margin-top24.margin-bottom24.border-box
                  .text-caption.letters-white
      .clearfix
  .clearfix
.clearfix

