extends ../layout/admin
include ../mixins/_forms

block content

  h1= 'Edit, ' + user.username

  +bootstrap_form('/admin/users', 'put', error)
  
    +bootstrap_field('user', 'id')(type='hidden' value=user._id)
    
    +bootstrap_field('user', 'username', '* Username')(value=user.username)
    
    +bootstrap_field('user', 'role', '* Role')(value=user.role)
    
    +bootstrap_default_action('Submit')