extends ../layout

block content

  .action-link
    a(href='/admin') Back to admin list

  .action-link
    a(href='/admin/users/new') Create new user

  table.table
    thead
      tr
        th State
        th Username
        th Role
        th Actions
    tbody
      - each user in users
        tr
          td
            - if(!user.active)
              .label.label-danger Removed
          td= user.username
          td= user.role
          td
            a(href='/admin/users/' + user._id + '/edit').btn.btn-info Edit
            &nbsp;
            a(href='/admin/users/' + user._id + '/delete').btn.btn-danger Delete