.list-group
  - cssClass = currentUrl.indexOf('admin/users') > 0 ? 'active' : ''
  a.list-group-item(class=cssClass href='/admin/users') User List
  - cssClass = currentUrl.indexOf('admin/proposals') > 0 ? 'active' : ''
  a.list-group-item(class=cssClass href='/admin/proposals') Proposal List
