.navbar.navbar-default
  .navbar-header
    a.navbar-brand(href='/admin') JS Conf Administration
  - if(loggedIn)
    p.navbar-text.pull-right
      = 'Hola, '
      b= loggedIn + ' ' 
      = 'do you want to '
      a(href='/logout') Logout
  .navbar-collapse.collapse
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/') Public Site
      