.navbar.navbar-default
  .navbar-header
    a.navbar-brand(href='/') JS Conf Uruguay
  .navbar-collapse.collapse
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/venue') Venue
      li
        a(href='/') Register
      li
        a(href='/speakers') Speakers
      li
        a(href='/proposals/new') Proposals